Repository gooddata/gooddata-ui-sdk, pull requests merged in 2024-01, with the labels that each got.

#4493 FEATURE: F-2 Allow disabling of the cross-filtering
  libs/api-client-tiger/api/api-client-tiger.api.md
  libs/api-client-tiger/src/gd-tiger-model/AnalyticalDashboardModelV2.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/analyticalDashboards/v2/AnalyticalDashboardConverter.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/AnalyticalDashboardConverter.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/dashboard/dashboard.ts
  libs/sdk-ui-dashboard/.dependency-cruiser.cjs
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/model/store/meta/metaReducers.ts
  libs/sdk-ui-dashboard/src/model/store/meta/metaSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/meta/metaState.ts
  libs/sdk-ui-dashboard/src/model/store/widgetDrills/widgetDrillSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBarContainer.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/FiltersConfigurationPanel.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/hooks/useResetFiltersButton.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/common/configuration/ConfigurationBubble.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/DashboardInsightMenuBubble.tsx
  libs/sdk-ui-dashboard/styles/scss/filterBar.scss
Labels: ready to review

#4510 BUGFIX: TNT-1967 Drill to custom url validation
  libs/sdk-ui-dashboard/src/model/commandHandlers/common/validateDrillToCustomUrlParams.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/attributeFilter/addAttributeFilterHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/attributeFilter/removeAttributeFiltersHandler.ts
  libs/sdk-ui-dashboard/src/presentation/drill/DrillConfigPanel/DrillToUrl/CustomUrlEditor.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/DrillConfigPanel/DrillToUrl/CustomUrlEditorParametersSections/DashboardParametersSection.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/DrillConfigPanel/DrillToUrl/CustomUrlEditorParametersSections/InsightParametersSection.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/DrillTargets/useInvalidFilteringParametersIdentifiers.ts
Labels: ready to review

#4582 BUGFIX: F1-9 Rich text footer
  libs/sdk-ui-dashboard/src/presentation/widget/richText/EditModeDashboardRichText.tsx
  libs/sdk-ui-dashboard/styles/scss/richText.scss
Labels: ready to review

#4586 RELATED: STL-118 permissions in pull-request-prerelease WF
  .github/workflows/pull-request-prerelease.yml
Labels: publish pre-release

#4587 TRIVIAL: test post merge workflow
  .github/workflows/slack-post-merge-notification.yml
Labels: publish pre-release

#4589 RELATED: STL-118 test get PR form push and permissions
  .github/workflows/pull-request-prerelease.yml
Labels: publish pre-release

#4591 TRIVIAL: fix build script
  .github/workflows/pull-request-prerelease.yml
Labels: publish pre-release

#4592 RELATED: STL-118 fix: workflow
  .github/workflows/pull-request-prerelease.yml
Labels: publish pre-release

#4597 BUGFIX: F1-9 Correct changelog for rich text
  common/changes/@gooddata/sdk-ui-all/f1-rich-text_2024-01-19-13-37.json
Labels: ready to review

#4609 BUGFIX: F1-64 Move settings service init to constructor
  libs/sdk-backend-tiger/src/backend/organization/styling.ts
Labels: publish pre-release

#4610 RELATED: STL-141 fix all build scripts and rush build false negative
  common/config/rush/command-line.json
  examples/playground/scripts/build-playground.sh
  examples/playground/scripts/run-playground.sh
  examples/sdk-examples/scripts/build-examples.sh
  examples/sdk-examples/scripts/run-examples.sh
  libs/api-client-bear/scripts/build.sh
  libs/api-client-tiger/scripts/build.sh
  libs/sdk-backend-bear/scripts/build.sh
  libs/sdk-backend-bear/src/convertors/fromBackend/DashboardConverter/layout.ts
  libs/sdk-backend-bear/src/convertors/toBackend/DashboardConverter.ts
  libs/sdk-backend-tiger/scripts/build.sh
  libs/sdk-backend-tiger/src/backend/features/index.ts
  libs/sdk-ui-charts/scripts/build.sh
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/scripts/build.sh
  libs/sdk-ui-dashboard/src/model/commandHandlers/common/validateDrills.ts
  libs/sdk-ui-dashboard/src/model/queryServices/queryWidgetFilters.ts
  libs/sdk-ui-dashboard/src/model/store/layout/layoutSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBar.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardWidget.tsx
  libs/sdk-ui-ext/scripts/build.sh
  libs/sdk-ui-filters/scripts/build.sh
  libs/sdk-ui-geo/scripts/build.sh
  libs/sdk-ui-kit/scripts/build.sh
  libs/sdk-ui-pivot/scripts/build.sh
  libs/sdk-ui-tests-e2e/scripts/build.sh
  tools/app-toolkit/scripts/build.sh
  tools/catalog-export/scripts/build.sh
  tools/mock-handling/scripts/build.sh
  tools/plugin-toolkit/scripts/build.sh
Labels: publish pre-release

#4612 FEATURE: F1-67 Add method to create user
  libs/sdk-backend-base/src/dummyBackend/index.ts
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/organization/users/index.ts
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/organization/users.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-model/src/user/index.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Form/InputPure.tsx
Labels: ready to review, publish pre-release

#4618 BUGFIX: LX-23, LX-60 Hide old parent filters UI on Panther, UX feedback improvements, layout overflow issues
  libs/sdk-ui-dashboard/src/locales.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/AllItemsFilteredMessage.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/ItemsFilteredMessage.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/AttributeFilterConfiguration.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/limitValues/dialog/ActionSelectionPage.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/limitValues/dialog/LimitingItemsPage.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/limitValues/dialog/ParentFiltersPage.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/limitValues/shared/LimitingItem.tsx
  libs/sdk-ui-dashboard/styles/scss/attributeFilterConfig.scss
  libs/sdk-ui-filters/api/sdk-ui-filters.api.md
  libs/sdk-ui-filters/src/AttributeFilter/Components/Addons/AttributeFilterDependencyTooltip.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/DropdownButton/AttributeFilterButtonTooltip.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/DropdownButton/AttributeFilterDropdownButton.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Components/index.ts
  libs/sdk-ui-filters/src/AttributeFilter/index.ts
  libs/sdk-ui-filters/src/index.ts
  libs/sdk-ui-filters/styles/scss/attributeFilterNext/attributeFilterAddons.scss
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/dashboardDependentFilter.spec.ts
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/dependentFilters.spec.ts
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/singleSelectionFilters.spec.ts
  libs/sdk-ui-tests-e2e/cypress/tools/filterBar.ts
Labels: publish pre-release

#4620 RELATED: CQ-83 remove invalid sorts on drill down
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/drillDownUtil.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/tests/drillDownUtil.test.ts
Labels: publish pre-release

#4617 FEATURE: F1-77 Remove enableKDDependentFilters feature flag and capability
  libs/sdk-backend-bear/src/backend/index.ts
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/backend/capabilities.ts
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/index.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/stateInitializers.ts
  libs/sdk-ui-dashboard/src/model/queryServices/tests/__snapshots__/queryWidgetFilters.test.ts.snap
  libs/sdk-ui-dashboard/src/model/store/backendCapabilities/backendCapabilitiesSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/AttributeFilterConfiguration.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/hooks/useConnectingAttributes.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/hooks/useValidNeighbourAttributes.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/parentFilters/ParentFiltersList.tsx
  libs/sdk-ui-filters/src/AttributeFilter/utils.ts
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/headerSection.spec.ts
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-crossFiltering.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardBasicActions.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardRichText.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTiger.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTigerWithCharts.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dependentFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dragDropAndMoveWidget.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-headerSection.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-insightOnDashboard.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-unknownVisualization.spec.ts.json
  libs/sdk-ui-tests-e2e/scenarios/src/components/Scenarios/Dashboard/DependentFiltersScenario.tsx
Labels: publish pre-release

#4627 BUGFIX: LX-70 Apply KD filter with local date filter
  libs/sdk-ui-dashboard/src/model/queryServices/queryWidgetFilters.ts
  libs/sdk-ui-dashboard/src/model/queryServices/tests/__snapshots__/queryWidgetFilters.test.ts.snap
Labels: publish pre-release

#4629 RELATED: STL-152 add github user to notification
  .github/workflows/rw-publish-prerelease.yml
  .github/workflows/rw-publish-release.yml
Labels: publish pre-release

#4630 RELATED: STL-152 fix author notification
  .github/workflows/publish-alpha.yml
  .github/workflows/publish-beta.yml
  .github/workflows/pull-request-prerelease.yml
  .github/workflows/rw-publish-prerelease.yml
Labels: publish pre-release
