Repository gooddata/gooddata-ui-sdk, pull requests merged in 2024-09, with the labels that each got.

#5301 feat: extend dashboard delete dialog with objects conditions
  libs/sdk-ui-dashboard/src/presentation/deleteDialog/DefaultDeleteDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/deleteDialog/types.ts
Labels: publish pre-release

#5302 feat: add widget delete dialog with context
  libs/sdk-ui-dashboard/.dependency-cruiser.cjs
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/react/useDashboardScheduledEmails.ts
  libs/sdk-ui-dashboard/src/model/store/automations/automationsSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/model/store/ui/uiReducers.ts
  libs/sdk-ui-dashboard/src/model/store/ui/uiSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/ui/uiState.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/DashboardHeader/DashboardHeader.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/getDefaultInsightEditMenuItems.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/useEditableInsightMenu.ts
  libs/sdk-ui-dashboard/src/presentation/widgetDeleteDialog/DefaultWidgetDeleteDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widgetDeleteDialog/WidgetDeleteDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widgetDeleteDialog/index.tsx
  libs/sdk-ui-dashboard/src/presentation/widgetDeleteDialog/types.ts
Labels: publish pre-release

#5303 fix: automation filters converter breaking state
  libs/sdk-backend-tiger/src/convertors/fromBackend/afm/FilterConverter.ts
Labels: publish pre-release

#5304 fix: drill down intersection ignored attributes
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/_staging/drills/drillingUtils.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/drill/drillDownHandler.ts
  libs/sdk-ui-dashboard/src/model/store/catalog/catalogSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/drill/DrillSelect/DrillSelectDropdown.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/index.ts
  libs/sdk-ui-dashboard/src/presentation/drill/types.ts
  libs/sdk-ui-dashboard/src/presentation/drill/utils/drillDownUtils.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/DashboardInsightWithDrillDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightDrillConfigPanel/drillConfigMapper.ts
Labels: ready to review, publish pre-release

#5305 RELATED: CQ-582 Semantic search styling and bugfixes
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Header/Header.tsx
  libs/sdk-ui-kit/src/Header/HeaderSearchButton.tsx
  libs/sdk-ui-kit/src/Header/headerSearchContext.tsx
  libs/sdk-ui-kit/src/Header/index.ts
  libs/sdk-ui-semantic-search/src/SearchResultsDropdownList.tsx
  libs/sdk-ui-semantic-search/src/internal/SearchList.tsx
  libs/sdk-ui-semantic-search/src/internal/SearchOverlay.tsx
  libs/sdk-ui-semantic-search/src/utils/renderDetails.tsx
  libs/sdk-ui-semantic-search/styles/scss/main.scss
  libs/sdk-ui-tests/backstop/reference/storybook_14_GenAI_SemanticSearch_-_full-featured_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_14_GenAI_SemanticSearch_-_short_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_14_GenAI_SemanticSearch_-_themed_0_document_0_desktop.png
Labels: publish pre-release

#5309 RELATED: CQ-582 search closing bugfix
  libs/sdk-ui-semantic-search/src/internal/SearchOverlay.tsx
Labels: publish pre-release

#5310 fix: arithmetic measure title in alerting
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
Labels: ready to review, publish pre-release

#5308 fix: add timeout to fix sort+undo in react 18
  libs/sdk-ui-pivot/src/impl/data/dataSource.ts
Labels: publish pre-release

#5312 existing automations validation
  libs/sdk-ui-dashboard/.dependency-cruiser.cjs
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingManagementDialog/components/Alert.tsx
  libs/sdk-ui-dashboard/src/presentation/constants/colors.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/DefaultScheduledEmailDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useScheduleValidation.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailManagementDialog/components/ScheduledEmail.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertsList.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertsListItem.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/EditAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useAlertValidation.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlerts.tsx
  libs/sdk-ui-dashboard/styles/scss/alerting.scss
  libs/sdk-ui-dashboard/styles/scss/notifications_channels_dialog.scss
Labels: publish pre-release

#5313 RELATED: CQ-582 new feature flag
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Labels: publish pre-release

#5317 fix: scheduling dialog mobile view
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/DefaultScheduledEmailDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/DestinationSelect/DestinationSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/constants.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
  libs/sdk-ui-dashboard/styles/scss/notifications_channels_dialog.scss
Labels: publish pre-release

#5321 TRIVIAL: update localisations
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/de-DE.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-AU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-GB.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-419.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-ES.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fi-FI.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-CA.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-FR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/it-IT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ja-JP.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/nl-NL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-BR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-PT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-HK.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hans.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hant.json
  libs/sdk-ui/src/base/localization/bundles/de-DE.json
  libs/sdk-ui/src/base/localization/bundles/en-AU.json
  libs/sdk-ui/src/base/localization/bundles/en-GB.json
  libs/sdk-ui/src/base/localization/bundles/es-419.json
  libs/sdk-ui/src/base/localization/bundles/es-ES.json
  libs/sdk-ui/src/base/localization/bundles/fi-FI.json
  libs/sdk-ui/src/base/localization/bundles/fr-CA.json
  libs/sdk-ui/src/base/localization/bundles/fr-FR.json
  libs/sdk-ui/src/base/localization/bundles/it-IT.json
  libs/sdk-ui/src/base/localization/bundles/ja-JP.json
  libs/sdk-ui/src/base/localization/bundles/nl-NL.json
  libs/sdk-ui/src/base/localization/bundles/pt-BR.json
  libs/sdk-ui/src/base/localization/bundles/pt-PT.json
  libs/sdk-ui/src/base/localization/bundles/zh-HK.json
  libs/sdk-ui/src/base/localization/bundles/zh-Hans.json
  libs/sdk-ui/src/base/localization/bundles/zh-Hant.json
Labels: publish pre-release

#5320 feat: bug repairs
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/NoAvailableAlerts.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlerts.tsx
  libs/sdk-ui-dashboard/styles/scss/alerting.scss
Labels: publish pre-release

#5322 feat: alerting/scheduling config for insights
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/getDefaultInsightMenuItems.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/index.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/DefaultDashboardInsightWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/useInsightMenu.ts
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/index.ts
  libs/sdk-ui-ext/src/internal/components/configurationControls/interactions/InteractionsSection.tsx
  libs/sdk-ui-ext/src/internal/components/configurationPanels/ConfigurationPanelContent.tsx
  libs/sdk-ui-ext/src/internal/components/configurationPanels/HeadlineConfigurationPanel.tsx
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/alerts.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/headline/PluggableHeadline.tsx
  libs/sdk-ui-ext/src/internal/constants/supportedProperties.ts
  libs/sdk-ui-ext/src/internal/translations/en-US.json
  libs/sdk-ui-ext/src/locales.ts
  libs/sdk-ui-ext/styles/internal/scss/config_panel.scss
Labels: ready to review, publish pre-release

#5325 fix: show correct measure title in alert config
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
Labels: ready to review, publish pre-release

#5326 fix: multiple scheduling bugs
  libs/sdk-ui-dashboard/src/_staging/sharedHooks/useFiltersNamings.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/Attachments/AttachmentFilters.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useAttachmentDashboardFilters.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlerts.tsx
Labels: publish pre-release

#5329 feat: comparison only for headline
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
Labels: publish pre-release

#5323 Ability for a widget to ignore all cross filters
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/dashboard/baseWidget.ts
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/locales.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/index.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/widgets/changeInsightWidgetIgnoreCrossFilteringHandler.ts
  libs/sdk-ui-dashboard/src/model/commands/base.ts
  libs/sdk-ui-dashboard/src/model/commands/index.ts
  libs/sdk-ui-dashboard/src/model/commands/insight.ts
  libs/sdk-ui-dashboard/src/model/events/base.ts
  libs/sdk-ui-dashboard/src/model/events/insight.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/model/store/layout/layoutReducers.ts
  libs/sdk-ui-dashboard/src/model/store/layout/layoutSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightCrossFiltering.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightFilters.tsx
  libs/sdk-ui-dashboard/styles/scss/configurationPanel.scss
Labels: publish pre-release

#5330 fix: automations query paging
  libs/sdk-backend-base/src/cachingBackend/index.ts
  libs/sdk-backend-base/src/decoratedBackend/automations.ts
  libs/sdk-backend-base/src/dummyBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/workspace/automations/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/automations/automationsQuery.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/loadWorkspaceAutomations.ts
Labels: publish pre-release

#5331 fix: disable alert creation when widget has no local identifier
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/getDefaultInsightMenuItems.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/DefaultDashboardInsightWidget.tsx
Labels: publish pre-release

#5332 fix: wrong alert definition transform repair
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertComparisonOperatorSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useEditAlert.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/test/transform.test.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
Labels: publish pre-release

#5338 feat: allow manual exports for headlines
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/src/presentation/widget/common/useInsightExport.ts
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/index.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/headline/HeadlineDescriptor.ts
  libs/sdk-ui-ext/src/internal/interfaces/VisualizationDescriptor.ts
Labels: publish pre-release

#5341 fix: automation with change/different got error when edit
  libs/sdk-backend-tiger/src/convertors/fromBackend/afm/MeasureConverter.ts
Labels: publish pre-release

#5342 RELATED: CQ-582 metrics improvements
  libs/sdk-ui-semantic-search/src/hooks/tests/useSearchMetrics.test.ts
  libs/sdk-ui-semantic-search/src/hooks/useSearchMetrics.ts
  libs/sdk-ui-semantic-search/src/internal/SearchOverlay.tsx
Labels: publish pre-release

#5343 fix: make sure to use metric instead of measure
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-ext/src/internal/components/configurationControls/comparison/calculation/tests/CalculationListItemInfo.test.tsx
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/areaChart/tests/__snapshots__/PluggableAreaChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/baseChart/tests/__snapshots__/PluggableBaseChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/bubbleChart/tests/__snapshots__/PluggableBubbleChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/bulletChart/tests/__snapshots__/PluggableBulletChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/dependencyWheelChart/tests/__snapshots__/PluggableDependencyWheelChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/donutChart/tests/__snapshots__/PluggableDonutChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/funnelChart/tests/__snapshots__/PluggableFunnelChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/geoChart/tests/__snapshots__/PluggableGeoPushpinChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/headline/tests/PluggableHeadline.test.tsx
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/headline/tests/PluggableHeadline2.test.tsx
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/headline/tests/__snapshots__/PluggableHeadline.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/headline/tests/__snapshots__/PluggableHeadline2.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/heatMap/tests/__snapshots__/PluggableHeatmap.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/lineChart/tests/__snapshots__/PluggableLineChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pieChart/tests/__snapshots__/PluggablePieChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTable/tests/__snapshots__/PluggablePivotTable.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/sankeyChart/tests/__snapshots__/PluggableSankeyChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/scatterPlot/tests/__snapshots__/PluggableScatterPlot.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/tests/__snapshots__/PluggableColumnBarCharts.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/treeMap/tests/__snapshots__/PluggableTreemap.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/waterfallChart/tests/__snapshots__/PluggableWaterfallChart.test.tsx.snap
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/xirr/tests/__snapshots__/PluggableXirr.test.ts.snap
  libs/sdk-ui-ext/src/internal/utils/tests/bucketHelper.test.ts
  libs/sdk-ui-ext/src/internal/utils/uiConfigHelpers/tests/__snapshots__/bulletChartUiConfigHelper.test.ts.snap
  libs/sdk-ui-ext/src/internal/utils/uiConfigHelpers/tests/comboChartUiConfigHelper.test.ts
  libs/sdk-ui-ext/src/internal/utils/uiConfigHelpers/tests/comboChartUiConfigHelperDeprecated.test.ts
  libs/sdk-ui-ext/src/internal/utils/uiConfigHelpers/tests/headlineUiConfigHelper.test.ts
  libs/sdk-ui/src/base/localization/TranslationsCustomizationProvider/utils.ts
Labels: publish pre-release

#5344 Use API client in filter views SPI instead of localStorage, add support for filter view permission
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-tiger/api/sdk-backend-tiger.api.md
  libs/sdk-backend-tiger/src/backend/workspace/dashboards/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/permissions/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/permissions/test/permissions.test.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/FilterViewConvertor.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/analyticalDashboards/AnalyticalDashboardConverter.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/analyticalDashboards/v1/AnalyticalDashboardConverter.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/analyticalDashboards/v2/AnalyticalDashboardConverter.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/objRef/index.ts
  libs/sdk-model/src/permissions/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/loadFilterViews.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/tests/__snapshots__/handler.test.ts.snap
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/filterViewHandler.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/model/store/permissions/permissionsSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/filterViews/FilterViews.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/filterViews/FilterViewsList.tsx
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/AddWorkspaceToSubjects.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/TelemetryContext.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/UserEditDialog.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/UserGroupEditDialog.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/AddWorkspace.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/PermissionDropdownItem.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/PermissionsDropdown.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/PermissionsDropdownList.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/WorkspaceItem.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/locales.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceList.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/types.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/utils.ts
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Labels: publish pre-release

#5348 fix: hide drill down detail section in Repeater
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/repeater/PluggableRepeater.tsx
Labels: ready to review, publish pre-release

#5350 fix(dashboards): merge default filter view with dashboard correctly
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/filterViews.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/tests/__snapshots__/filterViews.test.ts.snap
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/tests/filterViews.mock.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/tests/filterViews.test.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/index.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/resetDashboardHandler.ts
Labels: publish pre-release

#5351 feat: default automation recipients
  libs/sdk-ui-dashboard/.dependency-cruiser.cjs
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/utils/automationHelpers.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
Labels: publish pre-release

#5324 feat: Vis Switcher Config toolbar
  libs/sdk-backend-tiger/src/convertors/toBackend/AnalyticalDashboardConverter.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/dashboard/analyticalWidgets.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/index.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/widgets/addVisualizationToSwitcherWidgetHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/widgets/updateVisualizationsFromSwitcherWidgetHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/widgets/validation/widgetValidations.ts
  libs/sdk-ui-dashboard/src/model/commands/base.ts
  libs/sdk-ui-dashboard/src/model/commands/index.ts
  libs/sdk-ui-dashboard/src/model/commands/visualizationSwitcher.ts
  libs/sdk-ui-dashboard/src/model/events/base.ts
  libs/sdk-ui-dashboard/src/model/events/index.ts
  libs/sdk-ui-dashboard/src/model/events/visualizationSwitcher.ts
  libs/sdk-ui-dashboard/src/model/store/layout/layoutReducers.ts
  libs/sdk-ui-dashboard/src/model/store/layout/layoutSelectors.ts
  libs/sdk-ui-dashboard/src/model/tests/fixtures/Layout.fixtures.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/components/DashboardRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/dashboard/hooks/useDashboard.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/types.ts
  libs/sdk-ui-dashboard/src/presentation/dashboardContexts/DashboardComponentsContext.tsx
  libs/sdk-ui-dashboard/src/presentation/dashboardContexts/types.ts
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/useNewSectionVisualizationSwitcherPlaceholderDropHandler.ts
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/useVisualizationSwitcherPlaceholderDropHandler.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/common/InsightDropdown.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/common/configuration/ConfigurationBubble.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/DrillTargets/DrillTargetInsightItem.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/DrillTargets/DrillingInsightDropdown.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/DashboardInsightEditMenuBubble.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/index.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/EditModeDashboardVisualizationSwitcher.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/DefaultVisualizationSwitcherToolbar.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/InsightPicker.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/Toolbar.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/ToolbarBottom.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/ToolbarTop.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationConfig.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsList.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsPage.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/index.ts
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DefaultDashboardWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/DefaultDashboardVisualizationSwitcherWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/EditableDashboardVisualizationSwitcherWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/RenderModeAwareDashboardVisualizationSwitcherWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/types.ts
  libs/sdk-ui-dashboard/styles/scss/main.scss
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherToolbar.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Icon/Icon.tsx
  libs/sdk-ui-kit/src/Icon/icons/ArrowLeft.tsx
  libs/sdk-ui-kit/src/Icon/icons/ArrowRight.tsx
  libs/sdk-ui-kit/src/Icon/icons/Trash.tsx
  libs/sdk-ui-kit/src/List/InsightListItem.tsx
  libs/sdk-ui-kit/src/List/index.ts
  libs/sdk-ui-kit/styles/scss/bubble.scss
Labels: publish pre-release

#5354 fix: does not send email on Widget contains PP
  libs/sdk-backend-tiger/src/convertors/fromBackend/AutomationConverter.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/AutomationConverter.ts
Labels: publish pre-release

#5355 fix: revert style changes
  libs/sdk-ui-dashboard/src/presentation/widget/common/configuration/ConfigurationBubble.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/DashboardInsightEditMenuBubble.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/ToolbarBottom.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/ToolbarTop.tsx
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherToolbar.scss
  libs/sdk-ui-kit/styles/scss/bubble.scss
Labels: publish pre-release

#5360 fix: use relative only on change type
  libs/sdk-backend-tiger/src/convertors/fromBackend/AutomationConverter.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/AutomationConverter.ts
Labels: publish pre-release

#5367 fix: fetch only filterView from current WS
  libs/sdk-backend-tiger/src/backend/workspace/dashboards/index.ts
Labels: publish pre-release

#5369 feat: reset recipients only when allowed recipients change to creator
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/DefaultScheduledEmailDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
  libs/sdk-ui-dashboard/styles/scss/notifications_channels_dialog.scss
Labels: publish pre-release

#5371 fix: floating point numbers precision in alerts
  libs/sdk-backend-tiger/src/convertors/fromBackend/AutomationConverter.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/AutomationConverter.ts
  libs/sdk-backend-tiger/src/utils/fixNumber.ts
Labels: publish pre-release

#5374 fix: close switcher toolbar
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/Toolbar.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/EditableDashboardVisualizationSwitcherWidget.tsx
Labels: publish pre-release

#5375 feat: Switcher in View mode + exec optimization
  libs/sdk-backend-tiger/src/convertors/fromBackend/analyticalDashboards/v2/AnalyticalDashboardConverter.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/insightReferences.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/render/renderingWorker.ts
  libs/sdk-ui-dashboard/src/model/store/dashboardStore.ts
  libs/sdk-ui-dashboard/src/model/store/executed/executedReducers.ts
  libs/sdk-ui-dashboard/src/model/store/executed/executedSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/executed/executedState.ts
  libs/sdk-ui-dashboard/src/model/store/executed/index.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/model/store/types.ts
  libs/sdk-ui-dashboard/src/presentation/presentationComponents/DashboardItems/DashboardItemBase.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/AllVisualizationsDashInsights.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/EditModeDashboardVisualizationSwitcher.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/ViewModeDashboardVisualizationSwitcher.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/useExecutionProgress.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/DefaultDashboardInsightWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/useAlertingAndScheduling.ts
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/VisualizationSwitcherNavigationHeader.tsx
  libs/sdk-ui-dashboard/styles/scss/insightConfiguration.scss
  libs/sdk-ui-dashboard/styles/scss/main.scss
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherHeader.scss
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherWidget.scss
Labels: publish pre-release

#5380 fix: infinite setState issue in useInsightAlerting
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
Labels: ready to review, publish pre-release

#5381 feat: hide title config in switcher toolbar + fixes
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightConfiguration.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationConfig.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/useVisualizationSwitcherEditableInsightMenu.tsx
Labels: publish pre-release

#5379 fix: get alert measure format from catalog
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/DefaultAlertingDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/CreateAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/EditAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/constants.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useEditAlert.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/test/transform.test.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlerts.tsx
Labels: publish pre-release

#5382 RELATED: F1-645 GenAI Chat updates
  common/config/rush/pnpm-lock.yaml
  libs/api-client-tiger/api/api-client-tiger.api.md
  libs/api-client-tiger/src/generated/afm-rest-api/api.ts
  libs/api-client-tiger/src/generated/afm-rest-api/openapi-spec.json
  libs/api-client-tiger/src/index.ts
  libs/sdk-backend-base/api/sdk-backend-base.api.md
  libs/sdk-backend-base/src/dummyBackend/DummySemanticSearch.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/genAI/flexAI.ts
  libs/sdk-model/src/genAI/semanticSearch.ts
  libs/sdk-model/src/index.ts
  libs/sdk-ui-gen-ai/api/sdk-ui-gen-ai.api.md
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-gen-ai/src/components/EmptyState.tsx
  libs/sdk-ui-gen-ai/src/components/GenAIChatWrapper.tsx
  libs/sdk-ui-gen-ai/src/components/Input.tsx
  libs/sdk-ui-gen-ai/src/components/Messages.tsx
  libs/sdk-ui-gen-ai/src/components/StopIcon.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AgentIcon.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AgentState.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AssistantCancelledMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AssistantErrorMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AssistantSearchCreateMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/AssistantTextMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/FoundObjects.tsx
  libs/sdk-ui-gen-ai/src/components/messages/SystemMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/UserMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/UserTextMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/Visualization.tsx
  libs/sdk-ui-gen-ai/src/components/messages/index.ts
  libs/sdk-ui-gen-ai/src/components/messages/useExecution.tsx
  libs/sdk-ui-gen-ai/src/index.ts
  libs/sdk-ui-gen-ai/src/model.ts
  libs/sdk-ui-gen-ai/src/store/messages/messagesSelectors.ts
  libs/sdk-ui-gen-ai/src/store/messages/messagesSlice.ts
  libs/sdk-ui-gen-ai/src/store/sideEffects/converters/evalToMessage.ts
  libs/sdk-ui-gen-ai/src/store/sideEffects/converters/messagesToHistory.ts
  libs/sdk-ui-gen-ai/src/store/sideEffects/index.ts
  libs/sdk-ui-gen-ai/src/store/sideEffects/onNewMessage.ts
  libs/sdk-ui-gen-ai/styles/scss/agentIcon.scss
  libs/sdk-ui-gen-ai/styles/scss/input.scss
  libs/sdk-ui-gen-ai/styles/scss/main.scss
  libs/sdk-ui-gen-ai/styles/scss/messages.scss
  libs/sdk-ui-gen-ai/styles/scss/window.scss
  libs/sdk-ui-semantic-search/src/hooks/tests/__snapshots__/useSemanticSearch.test.ts.snap
  libs/sdk-ui-tests/stories/visual-regression/genAI/FlexAI.tsx
Labels: publish pre-release

#5383 feat: persist allowed recipients in notification channel
  libs/sdk-backend-tiger/src/convertors/toBackend/NotificationChannelsConvertor.ts
Labels: publish pre-release

#5384 fix: Switcher list and title fixes
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsList.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/VisualizationSwitcherNavigationHeader.tsx
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherHeader.scss
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherToolbar.scss
Labels: publish pre-release

#5385 feat: add enableFlightRpcDataSource feature
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Labels: publish pre-release

#5387 fix: show scheduled exports in dashboard
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsData.ts
Labels: ready to review, publish pre-release

#5388 trivial: allow bubble events in insight menu buttons
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/DashboardInsightMenuItemButton.tsx
Labels: publish pre-release

#5389 trivial: store widget name in alert details
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
Labels: publish pre-release

#5391 RELATED: F1-645 backend provider
  libs/sdk-ui-gen-ai/src/components/GenAIChat.tsx
  libs/sdk-ui-gen-ai/src/components/GenAIChatDialog.tsx
  libs/sdk-ui-gen-ai/src/hooks/useGenAIStore.ts
  libs/sdk-ui-gen-ai/styles/scss/messages.scss
  libs/sdk-ui-gen-ai/styles/scss/window.scss
Labels: publish pre-release

#5390 FEATURE: LX-491 Vis. Switcher telemetry
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/events/userInteraction.ts
  libs/sdk-ui-dashboard/src/model/react/useDashboardUserInteraction.ts
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/VisualizationSwitcherNavigationHeader.tsx
Labels: publish pre-release

#5393 fix: handle localIdentifier in automation filters converter
  libs/sdk-backend-tiger/src/convertors/fromBackend/afm/FilterConverter.ts
Labels: publish pre-release

#5394 feat: enable saved filter views on production
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
Labels: publish pre-release

#5396 fix: enforce attribute filter identifiers in alert filter convertor
  libs/sdk-backend-tiger/src/convertors/fromBackend/afm/FilterConverter.ts
Labels: publish pre-release

#5395 TRIVIAL: Update localisations
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/de-DE.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-AU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-GB.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-419.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-ES.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fi-FI.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-CA.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-FR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/it-IT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ja-JP.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/nl-NL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-BR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-PT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-HK.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hans.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hant.json
  libs/sdk-ui-ext/src/internal/translations/de-DE.json
  libs/sdk-ui-ext/src/internal/translations/en-AU.json
  libs/sdk-ui-ext/src/internal/translations/en-GB.json
  libs/sdk-ui-ext/src/internal/translations/es-419.json
  libs/sdk-ui-ext/src/internal/translations/es-ES.json
  libs/sdk-ui-ext/src/internal/translations/fi-FI.json
  libs/sdk-ui-ext/src/internal/translations/fr-CA.json
  libs/sdk-ui-ext/src/internal/translations/fr-FR.json
  libs/sdk-ui-ext/src/internal/translations/it-IT.json
  libs/sdk-ui-ext/src/internal/translations/ja-JP.json
  libs/sdk-ui-ext/src/internal/translations/nl-NL.json
  libs/sdk-ui-ext/src/internal/translations/pt-BR.json
  libs/sdk-ui-ext/src/internal/translations/pt-PT.json
  libs/sdk-ui-ext/src/internal/translations/zh-HK.json
  libs/sdk-ui-ext/src/internal/translations/zh-Hans.json
  libs/sdk-ui-ext/src/internal/translations/zh-Hant.json
  libs/sdk-ui/src/base/localization/bundles/de-DE.json
  libs/sdk-ui/src/base/localization/bundles/en-AU.json
  libs/sdk-ui/src/base/localization/bundles/en-GB.json
  libs/sdk-ui/src/base/localization/bundles/es-419.json
  libs/sdk-ui/src/base/localization/bundles/es-ES.json
  libs/sdk-ui/src/base/localization/bundles/fi-FI.json
  libs/sdk-ui/src/base/localization/bundles/fr-CA.json
  libs/sdk-ui/src/base/localization/bundles/fr-FR.json
  libs/sdk-ui/src/base/localization/bundles/it-IT.json
  libs/sdk-ui/src/base/localization/bundles/ja-JP.json
  libs/sdk-ui/src/base/localization/bundles/nl-NL.json
  libs/sdk-ui/src/base/localization/bundles/pt-BR.json
  libs/sdk-ui/src/base/localization/bundles/pt-PT.json
  libs/sdk-ui/src/base/localization/bundles/zh-HK.json
  libs/sdk-ui/src/base/localization/bundles/zh-Hans.json
  libs/sdk-ui/src/base/localization/bundles/zh-Hant.json
Labels: publish pre-release

#5398 fix: switcher style overrides
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherWidget.scss
Labels: publish pre-release

#5399 fix: alert trigger text theming
  libs/sdk-ui-dashboard/styles/scss/alerting.scss
Labels: publish pre-release

#5404 fix: disable alerting / scheduling
  libs/sdk-backend-tiger/src/backend/features/index.ts
Labels: ready to review

#5400 BUGFIX: LX-533 Remove vis config panel
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/ToolbarBottom.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationConfig.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/useVisualizationSwitcherEditableInsightMenu.tsx
  libs/sdk-ui-geo/src/GeoChart.ts
Labels: publish pre-release

#5407 fix: re-enable alerting / scheduling
  libs/sdk-backend-tiger/src/backend/features/index.ts
Labels: ready to review, publish pre-release

#5406 feat: propagate user interaction events in scheduling and alerting
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/events/userInteraction.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsCommands.tsx
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsDialog.ts
  libs/sdk-ui-dashboard/src/model/react/useDashboardUserInteraction.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useSaveScheduledEmailToBackend.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useSaveAlertToBackend.ts
Labels: publish pre-release

#5410 feat: extend schedule telemetry payload
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsDialog.ts
Labels: publish pre-release

#5408 FEATURE: LX-518 Handle vis. switcher resize
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/widgets/addVisualizationToSwitcherWidgetHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/widgets/changeInsightWidgetInsightHandler.ts
  libs/sdk-ui-dashboard/src/model/store/layout/layoutReducers.ts
Labels: publish pre-release
