Repository gooddata/gooddata-ui-sdk, pull requests merged in 2024-12, with the labels that each got.

#5651 fix: remove highcharts reexport
  libs/sdk-ui-charts/src/highcharts/adapter/Chart.tsx
Labels: publish pre-release

#5653 fix: make inserted widget smaller when do not fit container
  libs/sdk-ui-dashboard/src/_staging/layout/coordinates.ts
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/addLayoutSectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/addSectionItemsHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/moveSectionItemHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/moveSectionItemToNewSectionHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/replaceSectionItemHandler.ts
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/index.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/constants.ts
Labels: publish pre-release

#5656 RELATED: F1-645 error reporting
  libs/api-client-tiger/api/api-client-tiger.api.md
  libs/api-client-tiger/src/generated/afm-rest-api/api.ts
  libs/api-client-tiger/src/generated/afm-rest-api/openapi-spec.json
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/workspace/genAI/index.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/genAI/chat.ts
  libs/sdk-ui-gen-ai/src/store/sideEffects/converters/interactionsToMessages.ts
Labels: publish pre-release

#5657 fix: import type from mapbox gl
  libs/sdk-ui-geo/api/sdk-ui-geo.api.md
  libs/sdk-ui-geo/src/GeoChart.ts
Labels: publish pre-release

#5660 feat: allow user to toggle layout section headers
  examples/playground/src/index.tsx
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/dashboard/layout.ts
  libs/sdk-model/src/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/index.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/toggleLayoutSectionHeadersHandler.ts
  libs/sdk-ui-dashboard/src/model/commands/base.ts
  libs/sdk-ui-dashboard/src/model/commands/index.ts
  libs/sdk-ui-dashboard/src/model/commands/layout.ts
  libs/sdk-ui-dashboard/src/model/events/base.ts
  libs/sdk-ui-dashboard/src/model/events/index.ts
  libs/sdk-ui-dashboard/src/model/events/layout.ts
  libs/sdk-ui-dashboard/src/model/events/userInteraction.ts
  libs/sdk-ui-dashboard/src/model/store/layout/layoutReducers.ts
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/AddDashboardLayoutWidgetButton.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutEditSectionHeader.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutEditSectionHeaderRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutSectionHeader.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutSectionHeaderRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutViewSectionHeaderRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/EditableHeader/SectionHeaderEditable.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/index.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/useDashboardLayoutPlaceholderDropHandler.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/useNewSectionDashboardLayoutPlaceholderDropHandler.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/test/useInKD/DashboardEditLayout/DashboardEditLayoutSectionHeader.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/common/useLayoutSectionsConfiguration.ts
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/EditableDashboardNestedLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/Toolbar.tsx
  libs/sdk-ui-dashboard/styles/scss/dashboardNestedLayoutToolbar.scss
  libs/sdk-ui-dashboard/styles/scss/layout.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Icon/Icon.tsx
  libs/sdk-ui-kit/src/Icon/icons/Header.tsx
  libs/sdk-ui-kit/src/RichText/RichText.tsx
  libs/sdk-ui-kit/src/RichText/RichTextWithTooltip.tsx
  libs/sdk-ui-kit/src/Typography/Typography.tsx
  libs/sdk-ui-kit/src/Typography/index.ts
  libs/sdk-ui-kit/styles/scss/dialog.scss
  libs/sdk-ui-kit/styles/scss/typo-mixins.scss
Labels: publish pre-release

#5663 fix: make EditableLabel autofocus more stable
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/EditableLabel/EditableLabel.tsx
  libs/sdk-ui-kit/src/EditableLabel/index.ts
  libs/sdk-ui-kit/src/EditableLabel/typings.ts
Labels: publish pre-release

#5668 chore: repository-dispatch gdc-ui when alpha is published
  .github/workflows/rw-publish-prerelease.yml
Labels: publish pre-release

#5669 fix(dashboard): nested header placeholder should be gray
  libs/sdk-ui-dashboard/styles/scss/layout.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Messages/useToastMessage.ts
  libs/sdk-ui-kit/styles/scss/dialog.scss
  libs/sdk-ui-kit/styles/scss/richText.scss
  libs/sdk-ui-kit/styles/scss/typo-mixins.scss
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_DialogList_ManagementDialogComposition_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_Dialog_-_full-featured_-_confirm-dialog-with-no-submit-button_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_Dropdown_-_full-featured_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_EmbedInsightDialog_EmbedInsightDialogBase_-_full-featured_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ErrorOverlay_-_default_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_RichText_-_full-featured_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_RichText_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_AddGranteeBase_-_full-featured_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_AddGranteeBase_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_drill-availability-interaction_-_open_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_drill-availability-interaction_-_toggle-availability-for-drill_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_full-featured_-_add-grantee_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_full-featured_-_open_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_full-featured_-_selected-grantee_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_lock-interaction_-_open_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_lock-interaction_-_toggle-lock_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_themed_-_add-grantee_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_themed_-_open_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareDialog_-_themed_-_selected-grantee_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareGranteeBase_-_full-featured_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_ShareDialog_ShareGranteeBase_-_themed_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_12_UI_Kit_Typography_-_full-featured_0_document_0_desktop.png
Labels: publish pre-release

#5670 fix: when updating data filter delete only native workspace setting
  libs/sdk-backend-tiger/src/backend/workspace/dataFilters/index.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/dataFilter/index.ts
Labels: publish pre-release

#5673 feat: in-platform notifications
  libs/api-client-tiger/api/api-client-tiger.api.md
  libs/api-client-tiger/src/automation.ts
  libs/api-client-tiger/src/client.ts
  libs/api-client-tiger/src/generated/automation-json-api/api.ts
  libs/api-client-tiger/src/generated/automation-json-api/openapi-spec.json
  libs/api-client-tiger/src/generated/metadata-json-api/openapi-spec.json
  libs/sdk-backend-base/api/sdk-backend-base.api.md
  libs/sdk-backend-base/src/cachingBackend/index.ts
  libs/sdk-backend-base/src/decoratedBackend/organization.ts
  libs/sdk-backend-base/src/decoratedBackend/workspaceSettings.ts
  libs/sdk-backend-base/src/dummyBackend/index.ts
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/index.ts
  libs/sdk-backend-spi/src/organization/index.ts
  libs/sdk-backend-spi/src/organization/notifications/index.ts
  libs/sdk-backend-spi/src/organization/notifications/query.ts
  libs/sdk-backend-spi/src/workspace/settings/index.ts
  libs/sdk-backend-tiger/src/backend/organization/index.ts
  libs/sdk-backend-tiger/src/backend/organization/notifications.ts
  libs/sdk-backend-tiger/src/backend/organization/notificationsQuery.ts
  libs/sdk-backend-tiger/src/backend/workspace/settings/index.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/AutomationConverter.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/ExportDefinitionsConverter.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/NotificationsConvertor.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/AutomationConverter.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/automations/index.ts
  libs/sdk-model/src/exportDefinitions/index.ts
  libs/sdk-model/src/exports/index.ts
  libs/sdk-model/src/index.ts
  libs/sdk-model/src/notifications/index.ts
  libs/sdk-ui-all/api/sdk-ui-all.api.md
  libs/sdk-ui-all/src/index.ts
Labels: ready to review, publish pre-release

#5676 fix: dashboard export filter context
  libs/sdk-backend-tiger/src/backend/workspace/dashboards/index.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/ExportMetadataConverter.ts
Labels: ready to review, publish pre-release

#5680 Merge release into master
  libs/sdk-backend-tiger/src/backend/workspace/dashboards/index.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/ExportMetadataConverter.ts
Labels: publish pre-release

#5677 feat: fill rest of last row by big drop zone
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/Hotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/RowEndHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/WidgetDropZoneColumn.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/rowEndHotspotHelper.ts
  libs/sdk-ui-dashboard/styles/scss/dragAndDrop.scss
Labels: publish pre-release

#5682 feat: dropzone restyling to distinguish from resizer
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/Hotspot.tsx
  libs/sdk-ui-dashboard/styles/scss/dashboardNestedLayoutWidget.scss
Labels: publish pre-release

#5685 chore: fix public-sdk-update JSON payload
  .github/workflows/rw-publish-prerelease.yml
Labels: publish pre-release

#5688 fix: use fixed target to avoid outdated browserlist issues
  common/config/rush/common-versions.json
  common/config/rush/repo-state.json
  tools/app-toolkit/.babelrc-js
  tools/plugin-toolkit/.babelrc-js
Labels: publish pre-release

#5693 feat: customDateFilterConfig by settings
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/workspace/dateFilterConfigs/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/dateFilterConfigs/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/index.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/DateFilterConfigurationConverter.ts
  libs/sdk-ui-dashboard/src/_staging/dateFilterConfig/defaultConfig.ts
  libs/sdk-ui-dashboard/src/_staging/dateFilterConfig/validation.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/resolveDashboardConfig.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/dateFilter/DefaultDashboardDateFilter.tsx
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-crossFiltering.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardBasicActions.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardRichText.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardScatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTiger.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTigerWithCharts.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dependentFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dragDropAndMoveWidget.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-headerSection.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFiltersTooltips.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-insightOnDashboard.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-manyData.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-multipleDateFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-scatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-unknownVisualization.spec.ts.json
Labels: publish pre-release

#5705 fix: backstop
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiButton_-_full-featured_button_0_document_0_desktop.png
  libs/sdk-ui-tests/backstop/reference/storybook_15_Ui_UiButton_-_themed_0_document_0_desktop.png
Labels: ready to review

#5710 feat: show resizers + new style
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/components/DashboardRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/HoveredWidgetContext.tsx
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/index.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/DragLayerPreview/HeightResizerDragPreview.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/DragLayerPreview/WidthResizerDragPreview.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/HeightResizer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/HeightResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/HoverDetector.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/WidthResizer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/WidthResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/types.ts
  libs/sdk-ui-dashboard/src/presentation/presentationComponents/DashboardItems/DashboardItemBase.tsx
  libs/sdk-ui-dashboard/src/presentation/presentationComponents/DashboardItems/DashboardItemContent.tsx
  libs/sdk-ui-dashboard/styles/scss/dragAndDrop.scss
  libs/sdk-ui-dashboard/styles/scss/resizing.scss
Labels: publish pre-release

#5708 fix: notification panel
  libs/sdk-backend-tiger/src/convertors/fromBackend/NotificationChannelsConvertor.ts
  libs/sdk-backend-tiger/src/convertors/tests/NotificationChannelsConvertor.test.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/NotificationChannelsConvertor.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/notificationChannels/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsData.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/model/store/notificationChannels/notificationChannelsSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/notificationsPanel/@staging/OrganizationContext/useFetchOrganization.ts
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/NotificationsPanel.tsx
  libs/sdk-ui-ext/src/notificationsPanel/data/NotificationsContext.tsx
  libs/sdk-ui-ext/src/notificationsPanel/data/useFetchNotifications.ts
  libs/sdk-ui-ext/src/notificationsPanel/data/useNotifications.tsx
Labels: ready to review, publish pre-release

#5713 fix: prevent page breaks to split widget
  libs/sdk-ui-dashboard/styles/scss/export.scss
Labels: publish pre-release

#5714 fix: notification channels
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/ViewModeDashboardVisualizationSwitcher.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/DefaultDashboardInsightWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/useAlertingAndScheduling.ts
Labels: ready to review, publish pre-release

#5721 fix: apply padding only to width resizer preview
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/DragLayerPreview/WidthResizerDragPreview.tsx
  libs/sdk-ui-dashboard/styles/scss/resizing.scss
Labels: publish pre-release

#5720 fix: validate custom date filter config granularities
  libs/sdk-backend-tiger/src/convertors/fromBackend/DateFilterConfigurationConverter.ts
Labels: publish pre-release

#5723 fix: flexible layout fixes - dropzone, height resizer, resize overlay
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/facade/interfaces.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/facade/items.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutSection.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultFlexibleDashboardLayout.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/ResizeOverlay.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/rowEndHotspotHelper.ts
  libs/sdk-ui-dashboard/styles/scss/resizing.scss
Labels: publish pre-release

#5725 fix: proper typeguard in drop handler
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/useEmptyContentHandlers.ts
Labels: publish pre-release

#5726 feat: update localisations
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/de-DE.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-AU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-GB.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-419.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-ES.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fi-FI.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-CA.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-FR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/it-IT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ja-JP.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/nl-NL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-BR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-PT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-HK.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hans.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hant.json
  libs/sdk-ui-ext/src/internal/translations/de-DE.json
  libs/sdk-ui-ext/src/internal/translations/en-AU.json
  libs/sdk-ui-ext/src/internal/translations/en-GB.json
  libs/sdk-ui-ext/src/internal/translations/es-419.json
  libs/sdk-ui-ext/src/internal/translations/es-ES.json
  libs/sdk-ui-ext/src/internal/translations/fi-FI.json
  libs/sdk-ui-ext/src/internal/translations/fr-CA.json
  libs/sdk-ui-ext/src/internal/translations/fr-FR.json
  libs/sdk-ui-ext/src/internal/translations/it-IT.json
  libs/sdk-ui-ext/src/internal/translations/ja-JP.json
  libs/sdk-ui-ext/src/internal/translations/nl-NL.json
  libs/sdk-ui-ext/src/internal/translations/pt-BR.json
  libs/sdk-ui-ext/src/internal/translations/pt-PT.json
  libs/sdk-ui-ext/src/internal/translations/zh-HK.json
  libs/sdk-ui-ext/src/internal/translations/zh-Hans.json
  libs/sdk-ui-ext/src/internal/translations/zh-Hant.json
  libs/sdk-ui-gen-ai/src/localization/bundles/de-DE.json
  libs/sdk-ui-gen-ai/src/localization/bundles/en-AU.json
  libs/sdk-ui-gen-ai/src/localization/bundles/en-GB.json
  libs/sdk-ui-gen-ai/src/localization/bundles/es-419.json
  libs/sdk-ui-gen-ai/src/localization/bundles/es-ES.json
  libs/sdk-ui-gen-ai/src/localization/bundles/fi-FI.json
  libs/sdk-ui-gen-ai/src/localization/bundles/fr-CA.json
  libs/sdk-ui-gen-ai/src/localization/bundles/fr-FR.json
  libs/sdk-ui-gen-ai/src/localization/bundles/it-IT.json
  libs/sdk-ui-gen-ai/src/localization/bundles/ja-JP.json
  libs/sdk-ui-gen-ai/src/localization/bundles/nl-NL.json
  libs/sdk-ui-gen-ai/src/localization/bundles/pt-BR.json
  libs/sdk-ui-gen-ai/src/localization/bundles/pt-PT.json
  libs/sdk-ui-gen-ai/src/localization/bundles/zh-HK.json
  libs/sdk-ui-gen-ai/src/localization/bundles/zh-Hans.json
  libs/sdk-ui-gen-ai/src/localization/bundles/zh-Hant.json
Labels: publish pre-release

#5736 fix: remove loading users from init
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/index.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/users/loadAllUsersHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/users/loadWorkspaceUsers.ts
  libs/sdk-ui-dashboard/src/model/commands/base.ts
  libs/sdk-ui-dashboard/src/model/commands/index.ts
  libs/sdk-ui-dashboard/src/model/commands/users.ts
  libs/sdk-ui-dashboard/src/model/react/index.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmails.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsData.ts
  libs/sdk-ui-dashboard/src/model/react/useWorkspaceUsers.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/model/store/users/usersReducers.ts
  libs/sdk-ui-dashboard/src/model/store/users/usersSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/users/usersState.ts
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/DefaultAlertingDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/alerting/types.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/DashboardHeader/AlertingDialogProvider.tsx
  libs/sdk-ui-dashboard/src/presentation/dashboard/DashboardHeader/ScheduledEmailDialogProvider.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/DefaultLoadingScheduledEmailDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/DefaultScheduledEmailDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useEditAlert.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlerts.tsx
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-ext/src/notificationsPanel/NotificationFiltersDetail/NotificationFiltersDetailDialog.tsx
  libs/sdk-ui-ext/src/notificationsPanel/components/Skeleton.scss
  libs/sdk-ui-ext/src/notificationsPanel/components/Skeleton.tsx
  libs/sdk-ui-ext/src/notificationsPanel/components/VirtualList.tsx
  libs/sdk-ui-ext/src/notificationsPanel/notificationPanel.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/src/@ui/UiSkeleton/UiSkeleton.scss
  libs/sdk-ui-kit/src/@ui/UiSkeleton/UiSkeleton.tsx
  libs/sdk-ui-kit/src/@ui/index.scss
  libs/sdk-ui-kit/src/index.ts
Labels: ready to review, publish pre-release
