Repository gooddata/gooddata-ui-sdk, pull requests merged in 2024-10, with the labels that each got.

#5412 fix: proper min height for vis. switcher
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
Labels: publish pre-release

#5413 feat: switch enableIgnoreCrossFiltering and enableHeadlineExport to …
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/headline/HeadlineDescriptor.ts
Labels: publish pre-release

#5414 fix: alerts and scheduled exports permissions
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/loadAutomations.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/refreshAutomationsHandlers.ts
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingManagementDialog/components/DeleteAlertConfirmDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailManagementDialog/components/DeleteScheduleConfirmDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
Labels: ready to review, publish pre-release

#5415 fix: reset schedule edit after delete
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardScheduledEmailsManagementDialog.ts
Labels: publish pre-release

#5416 RELATED: F1-645 early access feature flags
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Labels: publish pre-release

#5418 fix: editing alerts and scheduled exports
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingManagementDialog/components/Alert.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailManagementDialog/components/ScheduledEmail.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertsListItem.tsx
Labels: ready to review, publish pre-release

#5420 feat: change position of visualisations in swticher
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/Toolbar.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/ToolbarBottom.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsList.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsList/VisualizationListItem.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsList/VisualizationListMenu.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsList/VisualizationListMenuItem.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsList/VisualizationsList.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsPage.tsx
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherToolbar.scss
Labels: publish pre-release

#5425 fix: change getting of selected widget ref to support switcher
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/store/ui/uiSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/drill/DrillConfigPanel/DrillToUrl/CustomUrlEditor.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/DrillConfigPanel/DrillToUrl/CustomUrlEditorParameters.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/DrillConfigPanel/DrillToUrl/CustomUrlEditorParametersSections/IdentifierParametersSection.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/DrillConfigPanel/DrillToUrl/ParameterDetails/InsightIdParameterDetail.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/DrillConfigPanel/DrillToUrl/ParameterDetails/WidgetIdParameterDetail.tsx
  libs/sdk-ui-dashboard/src/presentation/drill/DrillConfigPanel/DrillToUrl/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightDrillConfigItem.tsx
Labels: publish pre-release

#5428 fix: extend layout converter to support switcher
  libs/sdk-backend-tiger/src/convertors/shared/layoutConverter.ts
Labels: publish pre-release

#5430 fix: alert decrease is not calculated correctly
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/test/transform.test.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
Labels: publish pre-release

#5429 fix: vis. switcher tooltip zindex
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/AddVisualizationSwitcherWidgetButton.tsx
Labels: publish pre-release

#5434 Merge release into master
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/RecurrenceForm/CronExpression.tsx
  libs/sdk-ui-kit/src/utils/constants.ts
  libs/sdk-ui-kit/styles/scss/dialogList.scss
Labels: publish pre-release

#5433 WDF SPI, Saved filter views bugfixes
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/workspace/dataFilter/index.ts
  libs/sdk-backend-tiger/api/sdk-backend-tiger.api.md
  libs/sdk-backend-tiger/src/backend/workspace/dataFilters/index.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/dataFilter/index.ts
  libs/sdk-model/src/index.ts
  libs/sdk-model/src/objRef/index.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/filterViewHandler.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/filterViews/FilterViews.tsx
  libs/sdk-ui-dashboard/src/presentation/topBar/menuButton/DefaultMenuButton.tsx
Labels: publish pre-release

#5436 fix: lost metric PP/SP in list metric and comparison field, design qa
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingManagementDialog/DefaultAlertingManagementDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertsListItem.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/EditAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useAlertValidation.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/test/transform.test.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
  libs/sdk-ui-dashboard/styles/scss/alerting.scss
  libs/sdk-ui-kit/src/Icon/icons/AlertPaused.tsx
  libs/sdk-ui-kit/styles/scss/Bubble/_variables.scss
Labels: publish pre-release

#5438 feat: extend vis. switcher telemetry
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/events/userInteraction.ts
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/Toolbar.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/ToolbarTop.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/configuration/VisualizationsPage.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/VisualizationSwitcherWidget/VisualizationSwitcherNavigationHeader.tsx
Labels: publish pre-release

#5443 feat: emit user interaction for opened filter views panel, add accessibility button highlight to filter views button
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/events/userInteraction.ts
  libs/sdk-ui-dashboard/src/model/react/useDashboardUserInteraction.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/filterViews/FilterViews.tsx
  libs/sdk-ui-dashboard/styles/scss/filterBar.scss
Labels: publish pre-release

#5441 trivial: alerting and scheduling are by default on
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-crossFiltering.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardBasicActions.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardRichText.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardScatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTiger.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTigerWithCharts.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dependentFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dragDropAndMoveWidget.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-headerSection.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-insightOnDashboard.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-manyData.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-multipleDateFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-scatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-unknownVisualization.spec.ts.json
Labels: publish pre-release

#5446 fix: get blank page when using arithmetic metrics and has attribute i…
  libs/sdk-ui-charts/src/charts/repeater/internal/repeaterExecution.ts
Labels: publish pre-release

#5448 fix: apply theme on new components
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherToolbar.scss
Labels: publish pre-release

#5449 fix: handle async section header description
  libs/sdk-ui-dashboard/src/presentation/layout/DefaultDashboardLayoutRenderer/EditableHeader/SectionHeaderEditable.tsx
Labels: publish pre-release

#5450 fix: s/a dialog should respect timezone set by user
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
Labels: publish pre-release

#5453 feat: set vis. switcher FF to true
  common/changes/@gooddata/sdk-ui-all/nen-lx-569_2024-10-08-13-08.json
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
Labels: publish pre-release

#5454 RELATED: F1-645 polling for chart response
  libs/sdk-ui-gen-ai/src/components/Input.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/test/parseText.test.ts
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
  libs/sdk-ui-gen-ai/src/store/index.ts
  libs/sdk-ui-gen-ai/src/store/messages/messagesSelectors.ts
  libs/sdk-ui-gen-ai/src/store/messages/messagesSlice.ts
  libs/sdk-ui-gen-ai/src/store/sideEffects/index.ts
  libs/sdk-ui-gen-ai/src/store/sideEffects/onUserMessage.ts
  libs/sdk-ui-gen-ai/src/store/sideEffects/threadPolling.ts
Labels: publish pre-release

#5455 RELATED: F1-645 global error screen and updated api feeds
  libs/api-client-tiger/api/api-client-tiger.api.md
  libs/api-client-tiger/src/generated/afm-rest-api/api.ts
  libs/api-client-tiger/src/generated/afm-rest-api/openapi-spec.json
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/genAI/chat.ts
  libs/sdk-ui-gen-ai/src/components/ErrorBoundary.tsx
  libs/sdk-ui-gen-ai/src/components/GlobalError.tsx
  libs/sdk-ui-gen-ai/src/localization/bundles/en-US.json
  libs/sdk-ui-gen-ai/src/store/sideEffects/converters/interactionsToMessages.ts
  libs/sdk-ui-gen-ai/src/store/sideEffects/threadPolling.ts
  libs/sdk-ui-gen-ai/styles/scss/main.scss
Labels: publish pre-release

#5456 RELATED: F1-645 chat markdown support
  common/config/rush/pnpm-lock.yaml
  libs/sdk-ui-gen-ai/package.json
  libs/sdk-ui-gen-ai/src/components/messages/AssistantMessage.tsx
  libs/sdk-ui-gen-ai/src/components/messages/MessageContents.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/ErrorContents.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/Markdown.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/RoutingContents.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/SearchContents.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/TextContents.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/VisualizationContents.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/VisualizationErrorBoundary.tsx
  libs/sdk-ui-gen-ai/src/components/messages/contents/parseText.ts
  libs/sdk-ui-gen-ai/src/components/messages/contents/replaceLinks.ts
  libs/sdk-ui-gen-ai/src/components/messages/contents/test/parseText.test.ts
  libs/sdk-ui-gen-ai/styles/scss/messages.scss
Labels: publish pre-release

#5457 fix(pivot): render renamed row metric current name
  libs/sdk-ui-pivot/src/impl/data/rowFactory.ts
Labels: publish pre-release

#5459 fix: reset cross filter views properly when filter view is applied
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/filterViewHandler.ts
Labels: publish pre-release

#5460 fix: show % in alerts description
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingManagementDialog/DefaultAlertingManagementDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingManagementDialog/components/Alert.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/DefaultScheduledEmailDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailManagementDialog/DefaultScheduledEmailManagementDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertsListItem.tsx
Labels: publish pre-release

#5462 fix: change filter view user interaction type
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/events/userInteraction.ts
  libs/sdk-ui-dashboard/src/model/react/useDashboardUserInteraction.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/filterViews/FilterViews.tsx
Labels: publish pre-release

#5463 feat: allow multiple recipients in alert dialog
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/DefaultAlertingDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/DefaultScheduledEmailDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelectRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/constants.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/CreateAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/EditAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useEditAlert.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlerts.tsx
  libs/sdk-ui-dashboard/styles/scss/alerting.scss
  libs/sdk-ui-dashboard/styles/scss/scheduled_mail_recipients.scss
Labels: publish pre-release

#5464 fix: geo chart, arithmetic metric repairs
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/DefaultScheduledEmailDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/EditAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useEditAlert.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/test/transform.test.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
Labels: publish pre-release

#5467 fix: save filters in scheduled exports
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/Attachments/DashboardAttachments.tsx
Labels: ready to review, publish pre-release

#5468 Merge release into master
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/Attachments/DashboardAttachments.tsx
Labels: publish pre-release

#5470 fix: switcher bugs vol.2
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/EmptyDashboardDropZone.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/ViewModeDashboardVisualizationSwitcher.tsx
  libs/sdk-ui-dashboard/styles/scss/dragAndDrop.scss
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherHeader.scss
  libs/sdk-ui-dashboard/styles/scss/visualizationSwitcherToolbar.scss
Labels: publish pre-release

#5469 RELATED: F1-645 LLM Endpoints metadata object support in sdk-backend-tiger
  libs/sdk-backend-base/src/decoratedBackend/organization.ts
  libs/sdk-backend-base/src/dummyBackend/index.ts
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/index.ts
  libs/sdk-backend-spi/src/organization/index.ts
  libs/sdk-backend-spi/src/organization/llmEndpoints/index.ts
  libs/sdk-backend-tiger/src/backend/organization/index.ts
  libs/sdk-backend-tiger/src/backend/organization/llmEndpoints.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/llmEndpointConvertor.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/index.ts
  libs/sdk-model/src/llmEndpoints/index.ts
  libs/sdk-ui-gen-ai/styles/scss/main.scss
Labels: publish pre-release

#5472 fix: timezone recurrence form update
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/RecurrenceForm/CronExpression.tsx
  libs/sdk-ui-kit/src/RecurrenceForm/Recurrence.tsx
  libs/sdk-ui-kit/src/RecurrenceForm/RecurrenceForm.tsx
  libs/sdk-ui-kit/src/RecurrenceForm/RepeatTypeDescription.tsx
  libs/sdk-ui-kit/styles/scss/recurrenceForm.scss
Labels: publish pre-release

#5471 feat: support setting of multiple values for data workspace filter
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/workspace/dataFilter/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/dataFilters/index.ts
Labels: publish pre-release

#5474 use attribute alias in cross filtering titles and fix repeater column names
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-charts/api/sdk-ui-charts.api.md
  libs/sdk-ui-charts/src/charts/repeater/internal/RepeaterChart.tsx
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartOptions/chartOptionsForSettings.ts
  libs/sdk-ui-charts/src/interfaces/chartConfig.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/drill/common/intersectionUtils.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/drill/crossFilteringHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/attributeFilter/addAttributeFilterHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/filterContext/attributeFilter/tests/__snapshots__/addAttributeFilterHandler.test.ts.snap
  libs/sdk-ui-dashboard/src/model/commands/filters.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextReducers.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
Labels: publish pre-release

#5475 feat: add support for enableDefaultSmtp FF
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Labels: publish pre-release

#5476 fix: dashboard interactive example
  examples/sdk-interactive-examples/examples/example-dashboard/src/example/Example.tsx
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/loadNotificationChannelsCount.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/loadWorkspaceAutomationsCount.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/loadFilterViews.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/refreshAutomationsHandlers.ts
  libs/sdk-ui-dashboard/src/model/react/useInitializeDashboardStore.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/filterViews/FilterViews.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/useAlertingAndScheduling.ts
Labels: ready to review

#5479 fix: propagate SDK version to FeatureHub
  libs/api-client-tiger/api/api-client-tiger.api.md
  libs/api-client-tiger/src/profile.ts
  libs/sdk-backend-tiger/src/backend/features/hub.ts
  libs/sdk-backend-tiger/src/backend/features/index.ts
  libs/sdk-backend-tiger/src/backend/features/test/hub.test.ts
  libs/sdk-backend-tiger/src/backend/workspace/settings/index.ts
Labels: publish pre-release

#5481 feat: change default size of all widgets
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/widgets/addVisualizationToSwitcherWidgetHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/widgets/changeInsightWidgetInsightHandler.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/DraggableRichTextCreatePanelItem.tsx
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/draggableWidget/DraggableVisualizationSwitcherCreatePanelItem.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/DashboardLayoutWidget.tsx
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/index.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/BigChartDescriptor.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/baseChart/BaseChartDescriptor.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/constants.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTable/PivotTableDescriptor.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/repeater/RepeaterDescriptor.ts
Labels: publish pre-release

#5482 fix: S/A user has email but always validate no email
  libs/sdk-ui-dashboard/src/_staging/automation/index.ts
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useEditAlert.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
Labels: publish pre-release

#5487 fix: arithmetic metric repairs
  libs/sdk-backend-tiger/src/convertors/fromBackend/AutomationConverter.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/AutomationConverter.ts
Labels: publish pre-release

#5489 feat: lookup labels in map when given instead of fetching
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/stateInitializers.ts
Labels: publish pre-release

#5491 feat: lookup labels in map on dashboard reset
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/resetDashboardHandler.ts
Labels: publish pre-release

#5497 feat: introduce granular permissions for workspaces
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/index.ts
  libs/sdk-model/src/organization/index.ts
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/setupTests.ts
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/setupTests.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/AddWorkspaceToSubjects.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/RemoveIcon.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/UserEditDialog.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/UserGroupEditDialog.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/UserGroups/UserGroupItem.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/AddSingleWorkspaceSelect.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/AddWorkspace.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/AsyncSelectComponents.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/GranularPermissions.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/GranularPermissionsItems.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/GranularPermissionsWorkspaceItem.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/PermissionsDropdown.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/QuestionMarkIcon.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/WorkspaceIcon.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/WorkspaceItem.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/granularPermissionUtils.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceItem/locales.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/WorkspaceList.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/useAddWorkspace.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/hooks/usePermissions.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/locales.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/types.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/utils.ts
  libs/sdk-ui-ext/styles/internal/scss/user_management_dialogs.scss
  libs/sdk-ui-filters/setupTests.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/setupTests.ts
  libs/sdk-ui-kit/src/Overlay/Overlay.tsx
  libs/sdk-ui-kit/src/Overlay/typings.ts
  libs/sdk-ui-kit/styles/scss/shareDialogSelectControl.scss
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Labels: publish pre-release

#5502 feat: alerts per attribute, search + repairs
  libs/sdk-model/src/objRef/index.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertAttributeSelecxt.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useAttributeValuesFromExecResults.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
  libs/sdk-ui-dashboard/styles/scss/alerting.scss
Labels: publish pre-release

#5505 feat: alerts per attribute, add all visualisations
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
Labels: publish pre-release

#5507 feat: alerts per attribute, repair multiple same values
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useAttributeValuesFromExecResults.ts
Labels: publish pre-release

#5506 fix: do not use resize observer when threshold not specified
  libs/sdk-ui-kit/src/Overlay/Overlay.tsx
Labels: publish pre-release

#5509 fix: properly hide alerting based on number of destinations
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/useAlertingAndScheduling.ts
Labels: publish pre-release

#5508 Merge release into master
  common/changes/@gooddata/sdk-ui-all/ine-lx-481_2024-08-30-07-25.json
  docs/content/en/latest/references/filters/attribute_filter.md
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/areaChart/tests/getInsightWithDrillDownAppliedMock.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/baseChart/tests/getInsightWithDrillDownAppliedMock.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/bulletChart/tests/getInsightWithDrillDownAppliedMock.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/drillDownUtil.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/heatMap/tests/getInsightWithDrillDownAppliedMock.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/lineChart/tests/getInsightWithDrillDownAppliedMock.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/pivotTable/tests/getInsightWithDrillDownAppliedMock.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/tests/getInsightWithDrillDownAppliedMock.ts
  libs/sdk-ui-ext/src/internal/components/pluggableVisualizations/treeMap/tests/getInsightWithDrillDownAppliedMock.ts
  libs/sdk-ui-filters/src/AttributeFilter/AttributeFilterProviders.tsx
  libs/sdk-ui-filters/src/AttributeFilter/Context/AttributeFilterContext.tsx
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterController.ts
  libs/sdk-ui-filters/src/AttributeFilter/hooks/useAttributeFilterHandler.ts
  libs/sdk-ui-filters/src/AttributeFilterHandler/factory.ts
  libs/sdk-ui-filters/src/AttributeFilterHandler/internal/redux/loadIrrelevantElements/loadIrrelevantElementsSaga.ts
  libs/sdk-ui-tests-e2e/cypress/integration/01-sdk-ui-dashboard/dependentFilters.spec.ts
  libs/sdk-ui-tests-e2e/cypress/tools/table.ts
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-crossFiltering.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardBasicActions.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardRichText.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardScatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTiger.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTigerWithCharts.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dependentFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dragDropAndMoveWidget.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-headerSection.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-insightOnDashboard.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-manyData.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-multipleDateFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-scatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-unknownVisualization.spec.ts.json
Labels: publish pre-release

#5515 feat: paginate workspaces load in permissions
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/AddSingleWorkspaceSelect.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/AsyncSelectComponents.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/backend/loadWorkspaceOptionsPromise.ts
Labels: publish pre-release

#5516 enable latest FFs by default
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
Labels: publish pre-release

#5513 feat(dashboards): support nested layouts in view mode
  libs/sdk-ui-dashboard/.dependency-cruiser.cjs
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/_staging/dashboard/fluidLayout/facade/interfaces.ts
  libs/sdk-ui-dashboard/src/model/store/layout/layoutSelectors.ts
  libs/sdk-ui-dashboard/src/presentation/constants/layout.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/DefaultDashboardContent/DefaultDashboardMainContent.tsx
  libs/sdk-ui-dashboard/src/presentation/dashboard/components/DashboardMainContent.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayout.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayout.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutEditSectionHeaderRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutGridRow.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutGridRowEdit.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutItemViewRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutSection.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutSectionHeaderRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutSectionRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutWidgetRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/EditableDashboardLayoutSectionRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/GridLayoutElement.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/constants.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/interfaces.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/useScreenSize.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/utils/emptyFacade.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/utils/sizing.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultFlexibleDashboardLayout.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/index.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DefaultDashboardWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/types.ts
  libs/sdk-ui-dashboard/styles/scss/dashboard.scss
  libs/sdk-ui-dashboard/styles/scss/dragAndDrop.scss
  libs/sdk-ui-dashboard/styles/scss/layout.scss
  libs/sdk-ui-dashboard/styles/scss/visualization.scss
Labels: publish pre-release

#5520 fix: do not open dropdown in disabled mode
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/Workspace/AddSingleWorkspaceSelect.tsx
Labels: publish pre-release

#5521 fix: bug repairs
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertAttributeSelecxt.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
Labels: publish pre-release

#5522 fix: didn't remove filter when updating alert to All
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/test/transform.test.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils.ts
Labels: publish pre-release

#5523 fix: Threshold value on alert dialog
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingManagementDialog/components/Alert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertsList.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertsListItem.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlerts.tsx
Labels: publish pre-release

#5524 fix: number separators in repeater
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-charts/src/charts/repeater/internal/RepeaterChart.tsx
  libs/sdk-ui-charts/src/charts/repeater/internal/dataViewToRepeaterData.ts
  libs/sdk-ui-charts/src/charts/repeater/internal/repeaterAgGridDataSource.tsx
Labels: ready to review, publish pre-release

#5526 fix: propagate separators in PluggableRepeater
  libs/sdk-ui-charts/src/highcharts/chartTypes/_chartOptions/chartOptionsForSettings.ts
Labels: publish pre-release

#5529 feat: new user creation flow additions
  libs/sdk-backend-base/src/dummyBackend/index.ts
  libs/sdk-backend-mockingbird/src/recordedBackend/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/organization/users/index.ts
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/organization/users.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/UserEditDialog.tsx
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/dialogHooks.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/index.ts
  libs/sdk-ui-ext/src/internal/components/dialogs/userManagementDialogs/types.ts
Labels: publish pre-release
