Repository gooddata/gooddata-ui-sdk, pull requests merged in 2025-01, with the labels that each got.

#5746 feat: add test classes
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultFlexibleDashboardLayout.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/dashboardLayout/index.ts
  libs/sdk-ui-dashboard/src/presentation/widget/dashboardLayout/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/EditableDashboardNestedLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DefaultDashboardWidget.tsx
Labels: publish pre-release

#5747 fix: make headline show 0 value
  libs/sdk-ui-charts/src/charts/headline/internal/utils/HeadlineTransformationUtils.ts
Labels: publish pre-release

#5748 feat: update data to new client definition
  libs/sdk-backend-tiger/src/backend/organization/notificationChannels.ts
Labels: publish pre-release

#5749 fix: make classes work in root layout too
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DefaultDashboardWidget.tsx
Labels: publish pre-release

#5751 fix: notification channel did not store destination_type
  libs/sdk-backend-tiger/src/convertors/tests/NotificationChannelsConvertor.test.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/NotificationChannelsConvertor.ts
Labels: publish pre-release

#5753 fix: add aria label to dropdown button
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Dropdown/DropdownButton.tsx
Labels: publish pre-release

#5763 feat: display tooltip in drilled into visualization
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
Labels: publish pre-release

#5764 feat: the redirect custom URL should not include "?automationId="
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/NotificationsConvertor.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/notifications/index.ts
Labels: publish pre-release

#5722 fix: separate resize handling and view port update
  libs/sdk-ui-geo/src/core/geoChart/GeoChartRenderer.tsx
Labels: publish pre-release

#5765 feat: remove new section hotspots in nested containers
  libs/sdk-ui-dashboard/src/_staging/layout/coordinates.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayout.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutEditSectionHeader.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutSection.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/EditableDashboardLayoutSectionRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/interfaces.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/DragLayerPreview/WidthResizerDragPreview.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/WidthResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DefaultDashboardWidget.tsx
  libs/sdk-ui-dashboard/styles/scss/dashboard.scss
  libs/sdk-ui-dashboard/styles/scss/dashboardNestedLayoutWidget.scss
  libs/sdk-ui-dashboard/styles/scss/dragAndDrop.scss
  libs/sdk-ui-dashboard/styles/scss/layout.scss
  libs/sdk-ui-dashboard/styles/scss/resizing.scss
Labels: publish pre-release

#5768 feat: allow section description input to be sized by its content
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/DefaultDashboardContent/DefaultDashboardMainContent.tsx
  libs/sdk-ui-dashboard/src/presentation/dashboard/components/DashboardMainContent.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/DefaultDashboardLayoutRenderer/EditableHeader/SectionHeaderEditable.tsx
  libs/sdk-ui-dashboard/styles/scss/layout.scss
Labels: publish pre-release

#5769 feat: display tooltip in drilled into visualization
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/InsightDrillDialog/InsightDrillDialog.tsx
  libs/sdk-ui-dashboard/styles/scss/drillDialog.scss
Labels: publish pre-release

#5770 feat: notification panel docs
  common/changes/@gooddata/sdk-ui-all/mkn-f1-976-docs_2025-01-08-14-42.json
  common/config/rush/pnpm-lock.yaml
  docs/content/en/latest/references/notifications_panel/_index.md
  docs/package-lock.json
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/organization/notifications/index.ts
  libs/sdk-backend-spi/src/organization/notifications/query.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/automations/index.ts
  libs/sdk-model/src/exports/index.ts
  libs/sdk-model/src/notifications/index.ts
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/package.json
  libs/sdk-ui-ext/src/index.ts
  libs/sdk-ui-ext/src/notificationsPanel/@staging/OrganizationContext/OrganizationContext.tsx
  libs/sdk-ui-ext/src/notificationsPanel/@staging/OrganizationContext/useFetchOrganization.ts
  libs/sdk-ui-ext/src/notificationsPanel/Notification/AlertNotification.tsx
  libs/sdk-ui-ext/src/notificationsPanel/Notification/DefaultNotification.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationTriggersDetail/NotificationTriggersDetail.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationTriggersDetail/NotificationTriggersDetailDialog.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsList/DefaultNotificationsList.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsList/DefaultNotificationsListEmptyState.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsList/DefaultNotificationsListErrorState.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsList/DefaultSkeletonItem.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanel.scss
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanel.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanelButton.scss
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanelButton.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanelHeader.scss
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanelHeader.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/NotificationsPanel.tsx
  libs/sdk-ui-ext/src/notificationsPanel/bem.ts
  libs/sdk-ui-ext/src/notificationsPanel/data/NotificationsContext.tsx
  libs/sdk-ui-ext/src/notificationsPanel/data/useFetchNotifications.ts
  libs/sdk-ui-ext/src/notificationsPanel/data/useNotificationFiltersDetail.tsx
  libs/sdk-ui-ext/src/notificationsPanel/data/useNotifications.tsx
  libs/sdk-ui-ext/src/notificationsPanel/notificationPanel.scss
  libs/sdk-ui-ext/src/notificationsPanel/types.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/package.json
  libs/sdk-ui-kit/src/@ui/UiPagedVirtualList/UiPagedVirtualList.scss
  libs/sdk-ui-kit/src/@ui/UiPagedVirtualList/UiPagedVirtualList.tsx
  libs/sdk-ui-kit/src/@ui/UiSkeleton/UiSkeleton.tsx
  libs/sdk-ui-kit/src/@ui/hooks/useElementSize.tsx
  libs/sdk-ui-kit/src/@ui/index.scss
  libs/sdk-ui-kit/src/Overlay/Overlay.tsx
  libs/sdk-ui-kit/src/Overlay/typings.ts
  libs/sdk-ui-kit/src/index.ts
Labels: ready to review, publish pre-release

#5772 feat: add event for automations refresh
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/refreshAutomationsHandlers.ts
  libs/sdk-ui-dashboard/src/model/events/base.ts
  libs/sdk-ui-dashboard/src/model/events/index.ts
  libs/sdk-ui-dashboard/src/model/events/scheduledEmail.ts
Labels: ready to review, publish pre-release

#5773 feat: display tooltip in drilled into visualization
  libs/sdk-ui-dashboard/styles/scss/drillDialog.scss
Labels: publish pre-release

#5776 Merge release into master
  NOTICE
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/InsightDrillDialog/InsightDrillDialog.tsx
Labels: publish pre-release

#5777 test: add test classes to the dropzones
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/Hotspot.tsx
Labels: publish pre-release

#5779 feat: external recipients in dashboards support
  libs/sdk-backend-tiger/src/convertors/fromBackend/AutomationConverter.ts
  libs/sdk-backend-tiger/src/convertors/toBackend/AutomationConverter.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/automations/index.ts
  libs/sdk-model/src/index.ts
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/DefaultScheduledEmailDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelectRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/hooks/useEditScheduledEmail.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/EditAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useEditAlert.ts
  libs/sdk-ui-dashboard/styles/scss/scheduled_mail_recipients.scss
  libs/sdk-ui-kit/styles/scss/variables.scss
Labels: publish pre-release

#5780 feat: external recipients in dashboards support
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelectRenderer.tsx
  libs/sdk-ui-dashboard/styles/scss/scheduled_mail_recipients.scss
Labels: publish pre-release

#5788 fix: miss tooltip when hover the guest card
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelectRenderer.tsx
Labels: publish pre-release

#5785 fix: register for async render as early as possible
  libs/sdk-ui-dashboard/src/model/commandHandlers/render/renderingWorker.ts
  libs/sdk-ui-dashboard/src/model/react/useInitializeDashboardStore.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/Insight/DashboardInsight.tsx
Labels: publish pre-release

#5786 fix: notifications panel
  docs/content/en/latest/references/notifications_panel/_index.md
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-ui-dashboard/src/model/store/config/configSelectors.ts
  libs/sdk-ui-ext/api/sdk-ui-ext.api.md
  libs/sdk-ui-ext/src/index.ts
  libs/sdk-ui-ext/src/internal/translations/en-US.json
  libs/sdk-ui-ext/src/notificationsPanel/Notification/AlertNotification.tsx
  libs/sdk-ui-ext/src/notificationsPanel/Notification/DefaultNotification.scss
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanel.scss
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanelButton.tsx
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/NotificationsPanel.tsx
  libs/sdk-ui-ext/src/notificationsPanel/components/Popup.tsx
  libs/sdk-ui-ext/src/notificationsPanel/data/useNotifications.tsx
  libs/sdk-ui-ext/src/notificationsPanel/notificationPanel.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/@types/icon.ts
  libs/sdk-ui-kit/src/@ui/UiIcon/icons.tsx
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-crossFiltering.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardBasicActions.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardRichText.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardScatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTiger.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTigerWithCharts.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dependentFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dragDropAndMoveWidget.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-headerSection.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFiltersTooltips.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-insightOnDashboard.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-manyData.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-multipleDateFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-scatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-unknownVisualization.spec.ts.json
  libs/sdk-ui-theme-provider/api/sdk-ui-theme-provider.api.md
  libs/sdk-ui-theme-provider/src/ThemeProvider/Context.tsx
  libs/sdk-ui-theme-provider/src/ThemeProvider/ScopedThemeProvider.tsx
  libs/sdk-ui-theme-provider/src/ThemeProvider/ThemeProvider.tsx
  libs/sdk-ui-theme-provider/src/ThemeProvider/isDarkTheme.ts
  libs/sdk-ui-theme-provider/src/ThemeProvider/tests/ThemeProvider.test.tsx
  libs/sdk-ui-theme-provider/src/index.ts
Labels: ready to review, publish pre-release

#5794 fix: miss tooltip for internal user
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelectRenderer.tsx
Labels: publish pre-release

#5797 bugfix, feedback implemention
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelectRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/AlertAttributeSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/EditAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useAttributeValuesFromExecResults.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useEditAlert.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useThresholdValue.ts
  libs/sdk-ui-dashboard/styles/scss/scheduled_mail_recipients.scss
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Form/Input.tsx
  libs/sdk-ui-kit/src/Form/tests/Input.test.tsx
Labels: publish pre-release

#5796 fix: use current screen height when sanitizing container height
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/containerHeightSanitization.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/resizeHeightHandler.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/layout/resizeWidthHandler.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutGridRowEdit.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/utils/sizing.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/HeightResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/WidthResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/DefaultDashboardLayoutRenderer/DashboardLayoutGridRowEdit.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/DefaultDashboardLayoutRenderer/utils/sizing.ts
  libs/sdk-ui-dashboard/src/presentation/layout/dragAndDrop/Resize/HeightResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/dragAndDrop/Resize/WidthResizerHotspot.tsx
  libs/sdk-ui-dashboard/styles/scss/_zIndexes.scss
  libs/sdk-ui-dashboard/styles/scss/layout.scss
  libs/sdk-ui-kit/src/RichText/RichTextWithTooltip.tsx
Labels: publish pre-release

#5798 feat: pre-fill alert threshold with current value
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/EditAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useThresholdValue.ts
Labels: publish pre-release

#5800 fix: notifications
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
  libs/sdk-ui-ext/src/notificationsPanel/Notification/DefaultNotification.scss
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanelButton.scss
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanelButton.tsx
Labels: ready to review, publish pre-release

#5801 Merge release into master
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
  libs/sdk-ui-ext/src/notificationsPanel/Notification/DefaultNotification.scss
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanelButton.scss
  libs/sdk-ui-ext/src/notificationsPanel/NotificationsPanel/DefaultNotificationsPanelButton.tsx
Labels: publish pre-release

#5802 fix: rows can't be resized to more than container height
  libs/sdk-ui-dashboard/src/_staging/layout/sizing.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/HeightResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/layout/dragAndDrop/Resize/HeightResizerHotspot.tsx
Labels: publish pre-release

#5799 feat: extend Plugins API by support of nested layouts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/builder/interfaces.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/builder/item.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/builder/layout.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/builder/section.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/builder/tests/__snapshots__/layout.test.ts.snap
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/builder/tests/layout.test.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/builder/tests/utils.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/facade/interfaces.ts
  libs/sdk-ui-dashboard/src/_staging/dashboard/flexibleLayout/facade/layout.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/fluidLayoutCustomizer.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/fluidLayoutCustomizer.test.ts
  libs/sdk-ui-dashboard/src/plugins/customizer.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutViewSectionHeaderRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/EditableHeader/SectionHeaderEditable.tsx
Labels: publish pre-release

#5805 fix: inconsistent in Tier affecting Feature enable in FeatureHub
  libs/sdk-backend-tiger/src/backend/features/index.ts
Labels: publish pre-release

#5807 fix: can't search user in workspace by email in list recipients
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelect.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelectRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/utils/users.ts
Labels: publish pre-release

#5806 fix: widgets on the first row of container are not aligned
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/_staging/layout/coordinates.ts
  libs/sdk-ui-dashboard/src/presentation/dragAndDrop/types.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutEditSectionHeaderRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutGridRow.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutGridRowEdit.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutItem.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutSection.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutSectionHeaderRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/interfaces.ts
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/DragLayerPreview/WidthResizerDragPreview.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/WidthResizerHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DefaultDashboardWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/types.ts
  libs/sdk-ui-dashboard/styles/scss/dashboard.scss
  libs/sdk-ui-dashboard/styles/scss/resizing.scss
Labels: publish pre-release

#5814 fix: filter out custom widgets in nested layouts too
  libs/sdk-ui-dashboard/src/model/store/layout/layoutSelectors.ts
Labels: publish pre-release

#5815 feat: remove widget highlight on widget click
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/DefaultDashboardInsightWidget.tsx
Labels: publish pre-release

#5816 Flexible layout experimental export fix
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayout.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/DashboardLayoutItemViewRenderer.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DefaultDashboardLayoutRenderer/GridLayoutElement.tsx
  libs/sdk-ui-dashboard/styles/scss/export.scss
Labels: publish pre-release

#5817 fix: bug with invalid state of recipients
  libs/sdk-ui-dashboard/src/presentation/scheduledEmail/DefaultScheduledEmailDialog/components/RecipientsSelect/RecipientsSelect.tsx
Labels: publish pre-release

#5820 feat: introduce Amplitude Tracker feature flag
  libs/sdk-backend-tiger/src/backend/features/feature.ts
  libs/sdk-backend-tiger/src/backend/uiFeatures.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/settings/index.ts
Labels: ready to review, publish pre-release

#5823 feat: update localisations
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/de-DE.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-AU.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-GB.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-419.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/es-ES.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fi-FI.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-CA.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/fr-FR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/it-IT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/ja-JP.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/nl-NL.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-BR.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/pt-PT.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-HK.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hans.json
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/zh-Hant.json
  libs/sdk-ui-ext/src/internal/translations/de-DE.json
  libs/sdk-ui-ext/src/internal/translations/en-AU.json
  libs/sdk-ui-ext/src/internal/translations/en-GB.json
  libs/sdk-ui-ext/src/internal/translations/es-419.json
  libs/sdk-ui-ext/src/internal/translations/es-ES.json
  libs/sdk-ui-ext/src/internal/translations/fi-FI.json
  libs/sdk-ui-ext/src/internal/translations/fr-CA.json
  libs/sdk-ui-ext/src/internal/translations/fr-FR.json
  libs/sdk-ui-ext/src/internal/translations/it-IT.json
  libs/sdk-ui-ext/src/internal/translations/ja-JP.json
  libs/sdk-ui-ext/src/internal/translations/nl-NL.json
  libs/sdk-ui-ext/src/internal/translations/pt-BR.json
  libs/sdk-ui-ext/src/internal/translations/pt-PT.json
  libs/sdk-ui-ext/src/internal/translations/zh-HK.json
  libs/sdk-ui-ext/src/internal/translations/zh-Hans.json
  libs/sdk-ui-ext/src/internal/translations/zh-Hant.json
Labels: ready to review, publish pre-release

#5824 fix: new text for active state and styles unification for drop zone
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/EmptyNestedLayoutDropZone.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/styles/scss/dragAndDrop.scss
Labels: publish pre-release

#5828 fix: do not cut widgets at the end of nested layout during export
  libs/sdk-ui-dashboard/styles/scss/export.scss
Labels: publish pre-release

#5829 fix: do not cut widgets at the end of nested layout during export
  libs/sdk-ui-dashboard/styles/scss/export.scss
Labels: publish pre-release

#5832 fix: hide Title cfg for empty container and handle slow css-grid sizing in LinesEllipsis
  libs/sdk-ui-dashboard/src/presentation/presentationComponents/DashboardItems/DashboardItemHeadline.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/DashboardNestedLayoutWidget/Toolbar.tsx
  libs/sdk-ui-dashboard/styles/scss/dashboard.scss
Labels: publish pre-release

#5834 fix: revert debug export style
  libs/sdk-ui-dashboard/styles/scss/export.scss
Labels: publish pre-release

#5837 fix: make resize overlay match the size of widget
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/DashboardLayoutWidget.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/Resize/ResizeOverlay.tsx
  libs/sdk-ui-dashboard/styles/scss/resizing.scss
Labels: publish pre-release

#5838 fix: revert automations initialization
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/loadNotificationChannelsCount.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/loadWorkspaceAutomationsCount.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/index.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/loadLegacyDashboards.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/scheduledEmail/initializeAutomationsHandler.ts
  libs/sdk-ui-dashboard/src/model/react/useDasboardScheduledEmails/useDashboardAutomations.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/components/DashboardInner.tsx
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/topBar/menuButton/DefaultMenuButton.tsx
  libs/sdk-ui-dashboard/src/presentation/topBar/menuButton/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/DashboardInsightMenuItemButton.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/index.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/getDefaultInsightMenuItems.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/useInsightMenu.ts
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/@ui/UiSkeleton/UiSkeleton.tsx
  libs/sdk-ui-kit/src/List/ListItem.tsx
  libs/sdk-ui-kit/src/List/MenuList.tsx
  libs/sdk-ui-kit/styles/scss/list.scss
Labels: ready to review, publish pre-release

#5486 feat: defer catalog loading until dashboard is fully executed
  libs/api-client-tiger/api/api-client-tiger.api.md
  libs/api-client-tiger/src/gd-tiger-model/index.ts
  libs/api-client-tiger/src/gd-tiger-model/typeGuards.ts
  libs/api-client-tiger/src/index.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/workspace/dashboards/index.ts
  libs/sdk-backend-spi/src/workspace/ldm/datasets.ts
  libs/sdk-backend-tiger/src/backend/workspace/dashboards/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/datasets/index.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/DataSetConverter.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/analyticalDashboards/v1/AnalyticalDashboardConverter.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/analyticalDashboards/v2/AnalyticalDashboardConverter.ts
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/dashboard/dashboard.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/stateInitializers.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/index.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/render/renderingWorker.ts
  libs/sdk-ui-dashboard/src/model/queryServices/queryWidgetFilters.ts
  libs/sdk-ui-dashboard/src/model/store/catalog/catalogReducers.ts
  libs/sdk-ui-dashboard/src/model/store/catalog/catalogSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/model/store/widgetDrills/widgetDrillSelectors.ts
  libs/sdk-ui-dashboard/src/model/utils/displayFormResolver.ts
  libs/sdk-ui-dashboard/src/presentation/dashboard/components/DashboardInner.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/dateFilter/DefaultDashboardDateFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/filterBar/DefaultFilterBar.tsx
  libs/sdk-ui-dashboard/src/presentation/topBar/buttonBar/button/editButton/DefaultEditButton.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/Insight/useDashboardInsightDrills.ts
  libs/sdk-ui-loaders/src/dashboard/dashboardLoader.tsx
  libs/sdk-ui-loaders/src/dashboard/useDashboardLoaderWithPluginManipulation.ts
  libs/sdk-ui-tests-e2e/cypress/tools/dashboards.ts
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-crossFiltering.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardBasicActions.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardRichText.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardScatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTiger.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTigerWithCharts.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dependentFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dragDropAndMoveWidget.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-headerSection.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFiltersTooltips.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-insightOnDashboard.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-manyData.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-multipleDateFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-scatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-unknownVisualization.spec.ts.json
Labels: do not merge

#5839 feat: dropzones do not reflect widgets default size anymore
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/EmptyDashboardDropZone.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/EmptyNestedLayoutDropZone.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/RowEndHotspot.tsx
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/WidgetDropZoneColumn.tsx
  libs/sdk-ui-dashboard/styles/scss/dashboardNestedLayoutWidget.scss
Labels: publish pre-release

#5827 feat: plugin api extension
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/plugins/customizationApis/customizationBuilder.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/filterBarCustomizer.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/filterBarCustomizer.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/layoutCustomizer.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/layoutCustomizer.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/loadingCustomizer.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/richTextCustomizer.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/__snapshots__/filterBarCustomizer.test.tsx.snap
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/__snapshots__/layoutCustomizer.test.tsx.snap
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/__snapshots__/loadingCustomizer.test.tsx.snap
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/__snapshots__/richTextCustommizer.test.tsx.snap
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/__snapshots__/titleCustomizer.test.tsx.snap
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/__snapshots__/topBarCustomizer.test.tsx.snap
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/__snapshots__/vidualisationSwitcherCustomizer.test.tsx.snap
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/attributeFilterCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/dashboardContentCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/filterBarCustomizer.test.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/filterBarCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/fluidLayoutCustomizer.test.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/insightCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/kpiCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/layoutCustomizer.test.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/layoutCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/loadingCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/richTextCustommizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/titleCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/topBarCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/utils.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/vidualisationSwitcherCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/titleCustomizer.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/topBarCustomizer.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/types.ts
  libs/sdk-ui-dashboard/src/plugins/customizationApis/visualizationSwitcherCustomizer.tsx
  libs/sdk-ui-dashboard/src/plugins/customizer.ts
  libs/sdk-ui-dashboard/src/plugins/index.ts
  libs/sdk-ui-dashboard/src/presentation/dashboardContexts/types.ts
Labels: publish pre-release

#5841 fix: remove commented code
  libs/sdk-ui-dashboard/src/presentation/flexibleLayout/dragAndDrop/draggableWidget/RowEndHotspot.tsx
Labels: publish pre-release

#5843 fix: do not show other notifications that are not from alerts
  libs/sdk-ui-ext/src/notificationsPanel/data/useNotifications.tsx
Labels: publish pre-release

#5844 feat(sdk-ui-kit): add action progress indicator to settings widget
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/SettingWidget/StylingSettingWidget/StylingSettingWidget.tsx
  libs/sdk-ui-kit/styles/scss/settingWidget.scss
Labels: publish pre-release

#5845 feat: plugin api extension
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/__snapshots__/titleCustomizer.test.tsx.snap
  libs/sdk-ui-dashboard/src/plugins/customizationApis/tests/titleCustomizer.test.tsx
  libs/sdk-ui-dashboard/src/plugins/customizationApis/titleCustomizer.tsx
Labels: publish pre-release

#5842 feat: take measure formats from the execution
  libs/sdk-ui-dashboard/src/presentation/alerting/DefaultAlertingDialog/DefaultAlertingDialog.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/CreateAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/EditAlert.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useEditAlert.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/hooks/useInsightAlerting.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils/convertors.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils/getters.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlertConfig/utils/transformation.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insight/configuration/InsightAlerts.tsx
Labels: publish pre-release

#5846 feat: extend dashboard component to be addressable by KD navigation
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/dashboard/components/DashboardInner.tsx
  libs/sdk-ui-dashboard/src/presentation/dashboard/types.ts
Labels: publish pre-release

#5850 feat: change KeyboardNavigationConfig type definition
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/presentation/dashboard/types.ts
Labels: publish pre-release

#5847 fix: attribute filters requests
  common/config/rush/pnpm-lock.yaml
  libs/api-client-tiger/api/api-client-tiger.api.md
  libs/api-client-tiger/src/gd-tiger-model/index.ts
  libs/api-client-tiger/src/gd-tiger-model/typeGuards.ts
  libs/api-client-tiger/src/index.ts
  libs/sdk-backend-base/api/sdk-backend-base.api.md
  libs/sdk-backend-base/src/cachingBackend/index.ts
  libs/sdk-backend-base/src/decoratedBackend/attributes.ts
  libs/sdk-backend-base/src/dummyBackend/index.ts
  libs/sdk-backend-base/src/ldmFactories/catalog/attributeFactory.ts
  libs/sdk-backend-mockingbird/src/recordedBackend/attributes.ts
  libs/sdk-backend-spi/api/sdk-backend-spi.api.md
  libs/sdk-backend-spi/src/index.ts
  libs/sdk-backend-spi/src/workspace/attributes/index.ts
  libs/sdk-backend-tiger/docker-compose-isolated-record.yaml
  libs/sdk-backend-tiger/src/backend/workspace/attributes/index.ts
  libs/sdk-backend-tiger/src/backend/workspace/catalog/datasetLoader.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/CatalogConverter.ts
  libs/sdk-backend-tiger/src/convertors/fromBackend/MetadataConverter.ts
  libs/sdk-backend-tiger/tests/integrated/__snapshots__/catalog.test.ts.snap
  libs/sdk-model/api/sdk-model.api.md
  libs/sdk-model/src/ldm/catalog/attribute/index.ts
  libs/sdk-ui-dashboard/api/sdk-ui-dashboard.api.md
  libs/sdk-ui-dashboard/src/_staging/sharedHooks/useAttributes.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/loadAutomationsData.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/common/stateInitializers.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/index.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/preloadAttributeFiltersData.ts
  libs/sdk-ui-dashboard/src/model/commandHandlers/dashboard/initializeDashboardHandler/resolveDashboardConfig.ts
  libs/sdk-ui-dashboard/src/model/queryServices/queryAttributeByDisplayForm.ts
  libs/sdk-ui-dashboard/src/model/queryServices/queryAttributeDataset.ts
  libs/sdk-ui-dashboard/src/model/queryServices/queryWidgetFilters.ts
  libs/sdk-ui-dashboard/src/model/store/executionResults/executionResultsSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextReducers.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextSelectors.ts
  libs/sdk-ui-dashboard/src/model/store/filterContext/filterContextState.ts
  libs/sdk-ui-dashboard/src/model/store/index.ts
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/DefaultDashboardAttributeFilter.tsx
  libs/sdk-ui-dashboard/src/presentation/filterBar/attributeFilter/dashboardDropdownBody/configuration/hooks/useAttributeDataSet.ts
  libs/sdk-ui-tests-e2e/package.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-crossFiltering.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardBasicActions.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardRichText.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardScatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTiger.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTigerWithCharts.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dependentFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dragDropAndMoveWidget.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-headerSection.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFiltersTooltips.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-insightOnDashboard.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-manyData.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-multipleDateFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-scatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-unknownVisualization.spec.ts.json
  libs/sdk-ui-tests-e2e/scenarios/src/contexts/Auth/backend.ts
Labels: publish pre-release

#5853 fix: lookup
  libs/sdk-backend-tiger/src/backend/workspace/catalog/datasetLoader.ts
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-crossFiltering.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardBasicActions.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardRichText.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardScatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTiger.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dashboardTigerWithCharts.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dependentFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-dragDropAndMoveWidget.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-headerSection.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-hideFiltersTooltips.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-insightOnDashboard.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-manyData.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-multipleDateFilters.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-scatterPlot.spec.ts.json
  libs/sdk-ui-tests-e2e/recordings/mappings/TIGER/mapping-unknownVisualization.spec.ts.json
Labels: publish pre-release

#5851 feat: non-text content on dashboards
  libs/sdk-ui-dashboard/src/presentation/localization/bundles/en-US.json
  libs/sdk-ui-dashboard/src/presentation/presentationComponents/DashboardItems/DashboardItem.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/description/types.ts
  libs/sdk-ui-dashboard/src/presentation/widget/insightMenu/DefaultDashboardInsightMenu/DashboardInsightMenu/DashboardInsightMenuItemButton.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/visualizationSwitcher/ViewModeDashboardVisualizationSwitcher.tsx
  libs/sdk-ui-dashboard/src/presentation/widget/widget/InsightWidget/DefaultDashboardInsightWidget.tsx
  libs/sdk-ui-dashboard/styles/scss/main.scss
  libs/sdk-ui-dashboard/styles/scss/remove.scss
  libs/sdk-ui-ext/src/internal/components/configurationControls/tests/DropdownControl.test.tsx
  libs/sdk-ui-kit/api/sdk-ui-kit.api.md
  libs/sdk-ui-kit/src/Header/Header.tsx
  libs/sdk-ui-kit/src/Header/WorkspacePickerHomeFooter.tsx
  libs/sdk-ui-kit/src/Header/tests/WorkspacePickerHomeFooter.test.tsx
  libs/sdk-ui-kit/src/Header/typings.ts
  libs/sdk-ui-kit/src/Icon/icons/Home.tsx
  libs/sdk-ui-kit/src/Icon/typings.ts
  libs/sdk-ui-kit/src/List/ListItem.tsx
  libs/sdk-ui/src/base/localization/bundles/en-US.json
Labels: publish pre-release

#5856 fix: small opt of stringify large object
  libs/sdk-ui-dashboard/src/presentation/widget/insight/ViewModeDashboardInsight/Insight/DashboardInsight.tsx
Labels: skip publish

#5861 fix: caching
  libs/sdk-backend-base/src/cachingBackend/index.ts
  libs/sdk-ui-dashboard/src/model/store/executionResults/executionResultsSelectors.ts
Labels: ready to review
